[2021-03-14 20:11] brickemd commented on #248
works ok when initial login page is e-mail+password but yeah i'm struggling when first login is just e-mail. either the code is not progressing to the except of the first try/except login command (even though i'm getting element not interactable error) or something weird is happening when trying to set value of "ius-identifier".. i am very much an amateur with this stuff though so would appreciate

[2021-03-15 22:24] mrooney commented on #247
Hi there! I may be misunderstanding, but you run that command each time you want data (with any of the flags for customizing which data you get). It should prompt for a password for the first time, and thereafter it will be in the keyring and won't require a password.

[2021-03-15 22:24] #247 closed

[2021-03-16 04:47] jrejaud commented on #250
![image](https://user-images.githubusercontent.com/6202008/111257281-1368d680-85d8-11eb-8ec3-343b51fc960e.png)

I am having this issue as well, running the program in non-headless mode shows that it hangs on the login page (it's not inserting the email in the login field).

I suspect Mint must have changed the login process and this script hasn't caught up to the new changes yet...

[2021-03-17 05:02] jsvullo commented on #250
Getting this same error.

[2021-03-18 04:15] areagu opened #251 "selenium.common.exceptions.ElementNotInteractableException: Message: element not interactable"
started getting below issues several days ago:

selenium.common.exceptions.ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=89.0.4389.90)

[2021-03-18 04:45] nickysemenza commented on #251
There’s some discussion in #250

[2021-03-18 04:49] areagu commented on #251
yes thank you - apologies didn't see the issue exists...
mintapi stopped working as a result several days ago..

[2021-03-18 05:18] jasonkissinger commented on #248
i've create a pull request for some changes which "works for me".  if anyone else could please take a look if it continues to work/fixes these login issues for them i'd appreciate it.

either pull my branch:  https://github.com/jasonkissinger/mintapi/tree/intuit-accounts
or apply the pr i've submitted to this project:  https://github.com/mrooney/mintapi/pull/252

i still think there is an issue wi

[2021-03-18 05:25] jasonkissinger commented on #251
this may be same issue that we're also discussing in https://github.com/mrooney/mintapi/issues/248#issuecomment-801633786

check out my pr and see if that works for you.

[2021-03-18 05:27] areagu commented on #251
will do - thank you so much!!

[2021-03-18 13:23] jrejaud commented on #248
@jasonkissinger I pulled your branch and tried it out, it doesn't resolve the issue I've had mentioned at https://github.com/mrooney/mintapi/issues/250 thought; the email value in not inserted into the email form field on the login page, it just hangs.

Thank you for your efforts on this.

[2021-03-18 13:35] jasonkissinger commented on #248
@jrejaud, yeah all my changes are after entering emai so wouldn't expect it to resolve hang you're seeing.   I would bet the clear() on email text field is the culprit.  I've seen selenium hang on clear on several projects.  Try commenting that out and you may get farther.

[2021-03-18 21:05] mrooney commented on #251
Thanks, I'll close this one in favor of #250

[2021-03-18 21:05] #251 closed

[2021-03-24 21:35] jcsacto opened #253 "Getting string indices must be integers error when calling mint.get_budgets in Python?"
Greetings all, so I finally got past all the issues with the email only login prompt, but now I'm trying to do a simple call to mint.get_budgets() and getting the 'string indices must be integers' error.   Do we know of any issues going on with the budgets area of code by chance?  Please be advised, I am novice Python developer. : )

Thanks!

Python:
budgets = mint.get_budgets()

TypeError

[2021-03-28 00:17] ScottG489 opened #254 "Being prompted for email verification code before MFA code causing "NoSuchElementException""
I've started getting prompted for an email verification code before the MFA code. I'm using the `soft-token` method with mintapi and it's been working for a while. I have my Intuit account set up to only require the soft-token, so I imagine they must have added additional security measures more recently.

If I use Chrome manually, I'm only seeing this when I log in with incognito. I'm also seeing

[2021-04-02 01:17] jorythompson opened #255 "Please keep default functionality when adding parameters to API calls"
This one only took a couple of minutes to find, but (IMHO) it should never have happened:

Referencing the Mint method:
[code]
For whatever reason, `use_chromedriver_on_path` was recently added to the parameter list.  I am on an ARM device (Raspberry Pi) and I have to find my own chromedriver.  Because this new variable defaulted to False, the API was over-writing my chromedriver every time it ran

[2021-04-06 00:58] theurgi opened #256 "Possible to get accounts, budgets, and transactions simultaneously?"
With mintapi 1.45, Python 3.9.2, via CLI ...

[code]
... throws the following `AttributeError`:

[code]

Upon investigation, it looks like the source currently doesn't logically handle getting accounts, budgets, AND transactions simultaneously—or accounts, budgets, AND any other option for that matter:

[code]

Is this design dictated by a limitation of Mint's API?

[2021-04-06 08:45] theurgi commented on #256
Oh right, I suppose this is because selenium or whatever would have to navigate to a different route/view to be able to scrape transaction data, therefore might as well make multiple calls externally? Is that the rational, or is there an existing way to handle this with a single call?

[2021-04-17 01:01] bodhikiran commented on #248
I am facing the same issue!! Unable to get past this

[2021-04-24 12:21] clueo8 opened #258 "mfa/login issues"
I've been having difficulty lately with getting any type of automated mfa working.  Sometimes the image captcha shows up, and sometimes it doesn't.  I'm trying to use email with a gmail/imap but I don't know if thats possible because of ssl?  Is there anyone who has this working today?

Thanks.

[2021-05-22 01:49] nemws1 opened #259 "Login changed... again"
Looks like the mint.com login changed again - this time to a "2 phase" login, where you enter in your username, click submit, and then are prompted for a password (or to have it send you a code). At least, that's what I'm getting now.

[2021-05-24 15:27] hudcap commented on #259
I've got a funny feeling this was fixed in #252 (and maybe some other PRs) but hasn't been pushed to PyPI yet.
Can anyone confirm/deny?
I'm going to install manually and try when I get a chance.

[2021-05-24 20:18] nemws1 commented on #259
Well, I went and launched Chrome and manually looked at the code in api.py and started working on some suggested changes - then I ran mintapi non-headless (I usually run it headless) and it worked / looked like the old login (with username & password asked at the same time).

Tried just now and saw the same - I'm getting a login page asking for both username and password.  However, when I go to mi

[2021-05-25 01:06] hudcap commented on #259
@nemws1 Do you use `session_path`? If not, that might be why you're getting the old login with `mintapi`.

I'm getting the following on both (username/email crossed out):
![image](https://user-images.githubusercontent.com/4990645/119423973-88404700-bcd2-11eb-9e8c-5754d1f3aceb.png)

[2021-05-25 03:46] nemws1 commented on #259
Yes, I am using `session_path` - was getting inconsistent results without it.  However, I also attempted a "fresh" session (renamed by session directory) and I saw the same thing when I did - separate username (submit) then password (submit) process.  I've never had mint.com try to remember my username.

[2021-05-29 18:35] mrooney commented on #259
Hi there, #260 looks pretty simple, can anyone confirm or deny of that helps them out? PS, at the request of some users we've now got a Discord for debugging / chatting etc, in the README. Feel free to check it out since it can be hard to coordinate efficiently over GH issues sometimes :)

[2021-05-29 18:39] mrooney commented on #259
I just pushed that to pypi as 1.46 :)

[2021-05-29 18:39] #259 closed

[2021-05-30 00:56] kevko2020 commented on #250
Getting this still on the latest branch.

[2021-06-06 22:56] nickodell commented on #258
@clueo8 I can describe my setup, which is working so far.

In the mint 2-step verification, you can set an app like Google Authenticator. This will give you two things: a QR code and a "manual setup" code. Scan the QR code with your Google Authenticator app. Copy the manual setup code. This will be all uppercase letters. Pass this as mfa_token. Set your mfa_method to soft-token.

Here's a Python c

[2021-06-09 02:37] Patrawr commented on #254
Looks like it's been solved with #262. Works for me with version 1.49.

[2021-06-09 02:44] DavidLangworthy opened #263 "Password retry until lockout"
I have tried a number of different ways to login, but when I get to the password page some string is repeatedly entered until the too many attempts 15 minute lockout kicks in.

Any suggestions?

I'm running Python 3.8 on Windows.

[2021-06-09 03:36] dcastillo84 commented on #258
@nickodell Can you share how you get past the email notifications. I was able to get the authenticator working however its also asking for an email code prior to that and I don't know how to turn that off or bypass it within the mintapi

[2021-06-09 03:46] dcastillo84 commented on #254
@ScottG489  were you able to get this to work, i am getting the same thing. MFA worked before but now its asking for an email auth code before that.

[2021-06-13 22:02] CodingPenguin commented on #263
Hey I'd like to second this, as a new MintAPI user, I've been locked out.

Additionally, if anyone reads this, the Discord invite on the README has expired. While creating a new invite link, you can set one of the settings to "NEVER" under "Expire After".

[2021-06-14 16:17] ScottG489 commented on #254
@dcastillo84 Was this issue still reproducing after you updated to a version after https://github.com/mrooney/mintapi/pull/262?

I haven't had a chance to retry in a while and it might be a few weeks until I'll be able to find some time to.

[2021-06-14 16:52] dcastillo84 commented on #254
@ScottG489 taking out session-path seemed to fix it for me. I did also update to the latest mintapi so that could have been a contributor as well.

[2021-06-14 16:55] dcastillo84 commented on #258
@nickodell that helped a ton thanks for the walkthrough

[2021-06-14 17:22] ScottG489 commented on #254
@dcastillo84 Ok cool, good to know.

Though, when you say you took out `session-path`, do you mean that you were using the `session-path` argument before but are no longer now?

[2021-06-14 17:24] dcastillo84 commented on #254
@ScottG489 that is correct was using it before and no longer now

[2021-06-14 19:10] mrooney commented on #263
Whoops, thanks, updated in the README!

[2021-06-25 19:51] CodingPenguin opened #265 ""selenium.common.exceptions.ElementNotInteractableException: Message: element not interactable" error"
Here is the whole error that shows up when I run the default code on the README. I'm certain it must be super simple and I'm not seeing it.
`
Traceback (most recent call last):
  File "/Users/codingdanny/projects/python/mint/index.py", line 2, in <module>
    mint = mintapi.Mint(
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/mintapi/api.py", line 515, in __i

[2021-06-28 17:55] Stripling07 opened #266 "selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document"

[2021-06-28 18:11] Stripling07 commented on #266
Sorry, thought I had added the details, here is the error I get after I input the mfa code:

  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/mintapi/api.py", line 515, in __init__
    self.login_and_get_token(email, password,
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/mintapi/api.py", line 601, in login_and_get_token

[2021-07-03 14:28] jaron-l opened #267 "CI: SyntaxError: future feature annotations is not defined"
This is to track the build errors that travis-ci is having with SyntaxError showing up in the build errors associated with pandas.

The error as it appears on Job [#422.1](https://travis-ci.org/github/mrooney/mintapi/jobs/774557271#L163):
[code]

[2021-07-12 19:48] jaron-l commented on #267
In my digging about trying to recreate the travis ci build environment, I ran into several questions that hopefully @mrooney can help me out with.

1. In the [.travis.yml](https://github.com/mrooney/mintapi/blob/e8df28240df7f8283449ba149dc0ba6f325867e9/.travis.yml#L7) on line 7, I see that we don't install pinned packages. Is there a reason for this? Normally I would recommend that this should be

[2021-07-13 20:30] mrooney commented on #267
Thanks so much for the research! I don't think you are missing anything, if
it makes more sense to work a different way now, let's definitely give it a
shot :)

On Mon, Jul 12, 2021 at 3:48 PM Jaron ***@***.***> wrote:

[2021-07-15 17:53] #267 closed

[2021-07-15 18:59] jaron-l commented on #266
Can you confirm what version of mintapi you are using?

[2021-07-16 06:02] Sarke opened #269 "Return accountId with transactions"
What is the best way to get the transactions, but also include the `accountId` for each?  I would rather not depend on the `accountName` as it can change (and maybe be duplicate?).

[2021-07-18 02:15] BlakeHolifield commented on #266
I also saw this:
[code]

There are some stackoverflow threads about handling that exception, but throwing a `time.sleep(5)` after the initial `Mint()` object creation seemed to be a gnarly but effective workaround.

[2021-07-18 02:57] jaron-l commented on #266
@BlakeHolifield do you have a semi-reliable way to reproduce? I can't get the error. It happens at the same location as mentioned in #265 which is in a try except loop trying to detect a login method, what I don't get is that they both are finding the element appropriately (so passing the test that the try is testing for) but then the element behaves diffently than expected. Either the finding of

[2021-07-18 03:22] BlakeHolifield commented on #266
@jaron-l I just tried to reproduce and couldn't 🙃 . With or without the sleep, it seems fine now. I'm _thinking_ it might have to do with the `Syncing account status` message? When I first logged in that message took a solid 15 seconds to finish the accounts sync and that's when this first occurred. Since then that sync is much faster (2s or less) and I haven't been able to reproduce. Sorry I don'

[2021-07-18 13:19] jaron-l commented on #265
@CodingPenguin Do you have a method to reproduce?

[2021-07-19 15:56] mrooney commented on #269
Hi Peter, thanks for using mintapi! For general questions please head to our Discord linked on the README :)

[2021-07-19 15:56] #269 closed

[2021-07-21 05:20] Sarke commented on #269
Hi @mrooney, I think I was a bit too indirect since I was not asking for technical help.

Currently it doesn't return the `accountId`.  I would like it to.  This is a feature request.

I realize the Mint API doesn't return this by default.  I think this could be added if only a single account's transactions are fetched, or using a flag to first call the accounts and have the code manually match up

[2021-07-27 05:24] mrooney commented on #265
Closed via #270

[2021-07-27 05:24] #265 closed

[2021-07-29 21:56] dcastillo84 commented on #230
@nickodell I am having the same issue with a windows machine. How do you find the current path to the chromedriver mintapi is using?

[2021-07-30 03:46] nickodell commented on #230
@dcastillo84 mintapi downloads the chromedriver to the current working directory. So you would run mintapi normally to download the chromedriver, then add the current directory to the path, then run mintapi with the `--use-chromedriver-on-path` option, as mrooney suggests above.

Here's how to add the current directory to the path on Window: https://superuser.com/questions/975605/add-current-direc

[2021-07-30 07:09] pazwicker opened #271 "Downloading non-stable Chrome driver causing errors"
Starting today, my mint-api runs have downloaded chrome driver version 93 when the current, stable version is 92. This causes the scripts to fail because of a version mismatch.

I've tried
- manually downloading 92 driver but mint-api just overwrites it with 93 again
- installing the chrome beta (v93) but I hit the same issue because chrome stable is still installed

Anyone else experiencing this?

[2021-07-30 13:31] dcastillo84 commented on #230
You are awesome! Appreciate it. Weird it was putting the chromedriver in my C:\users\username\ folder

[2021-08-05 18:04] johnjmur0 commented on #245
Same thing is happening to me, just trying it for the first time.

[2021-08-11 23:20] Porkbutts commented on #167
This got it working for me. Also had to run the tool with `--use-chromedriver-on-path` so it would stop trying to download it

[2021-08-15 02:11] jaron-l commented on #245
I've been able to replicate this. It's an issue with selenium-requests not mintapi. I have a fixed version [on this branch](https://github.com/jaron-l/Selenium-Requests/tree/hotfix-handle-more-than-one). Try installing it in your environment to see if it fixes your issue. As another workaround, I've found that running headless makes it happen far less often.

[2021-08-15 17:14] mrooney commented on #245
Nice find! If you make a PR there that gets merged and released, let me know and we can update the pip version dependency on our side :)

[2021-08-16 04:02] pisakhov opened #273 "headless chrome in AWS Linux 2"
I noticed the update of soft-token. However, my session is saved from before.
This is the error I'm getting.

[code]

I'm using AWS Linux 2.

Thank you

[2021-08-16 17:40] mrooney commented on #273
What is index.py? This is not a file in the mintapi repository :)

[2021-08-16 18:42] pisakhov commented on #273
no, this is the script to run the program.

[code]
index.py

sorry for the bad syntax.

versions:
`Google Chrome 92.0.4515.131
ChromeDriver 84.0.4147.30 (48b3e868b4cc0aa7e8149519690b6f6949e110a8-refs/branch-heads/4147@{#310})
`

[2021-08-16 19:33] pisakhov commented on #273
I opened Lightsail's instance with ubuntu 20, and I reinstall everything.
I removed the two-step-verification
I use mfa_method='sms'

I think the mfa_method='soft-token' method must be with more explanation in the read me file..

Is it possible for the next version of mintapi, to have an option to select which browser to use?

Thank you for your quick response..

[2021-08-16 19:33] #273 closed

[2021-08-16 19:37] pisakhov commented on #271
I use Amazon Lightsail, ubuntu 20 as well.

I used this tutorial https://tecadmin.net/install-google-chrome-on-ubuntu-20-04/

For some reason, it works only when I disable the two-step-verification

[2021-08-18 08:16] cwmoriarty opened #274 "Consider using `electron` as a source for chromedriver?"
Using mintapi on a Raspberry Pi (arch=arm64) or other ARM based SBCs isn't possible, since linux64 is x86_64/amd64

https://github.com/mrooney/mintapi/blob/91fc92eed2b3e118186a8c52aab8d4ab7e921fb8/mintapi/api.py#L183

Electron has a much greater variety of binaries, tho the mapping of Electron/Chrome version isn't super clear.
https://github.com/electron/electron/releases/tag/v14.0.0-beta.22

[2021-08-20 02:01] chinmayjade opened #276 "Double authentication prompt Email/2FA issue"
I followed the workaround on issue #258 and set up 2FA MFA Authenticator token but still unable to get automatic MFA login working. It seems like Mint is doing both sending a verification code to my email and then also requiring the code from Authenticator to complete the login.

Due to this, the code is exiting with errors:
`raise exception_class(message, screen, stacktrace)
selenium.common.excep

[2021-08-20 02:34] KOEPKEJR commented on #276
I’ve had the same issue as you and also tried the soft token fix. Regardless, I still get the email. I’ve poorly hacked the code to determine what mint wants (e.g email code or password) based on what UX control is visible.  My crappy workaround has been working 99% of the time for the past 6 months.

[2021-08-20 04:14] mrooney commented on #276
Does #272 address this issue by chance? If not, happy to review a PR that would handle this use-case :)

[2021-08-20 22:52] chinmayjade commented on #276
#272 fix does not seem to have any effect on this issue.

[2021-08-24 18:09] #258 closed

[2021-08-30 00:35] timdau opened #278 "Get Account data based on date."
https://mint.intuit.com/trend.event Allows filtering based on date.  I would like to be able to get the account data based on a specified date.

searchQuery: {"reportType":"AA","chartType":"P","comparison":"","matchAny":true,"terms":[],"accounts":{"groupIds":["AA"],"accountIds":[],"count":25},"dateRange":{"period":{"label":"This month","value":"TM"},"start":"8/1/2021","end":"8/29/2021"},"drilldown

[2021-08-31 17:56] mrooney commented on #278
Have you tried the `--start-date` parameter, and does that accomplish what you are looking for? Or are you looking for an end date as well?

[2021-09-01 02:36] timdau commented on #278
I am looking for the end date.  I tried `--start-date` and it doesn't change anything in the output of --accounts.

[2021-09-06 23:38] mdupuy opened #279 "selenium ignoring chromedriver path"
Mintapi used to use chromedriver on my $path (--use-chromedriver-on-path) or the downloaded path I specified (--chromedriver-download-path /tmp) and now always uses:
/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
Of course, this isn't working because the Chrome browser is a newer version. I download the correct version to my $path.

yeilds:

Or if I just change my working directory t

[2021-09-08 02:31] timdau commented on #278
I am not sure if it helps but I would be happy to provide $200USD as a thank you gift to anyone who can provide this functionality in such a way that it gets merged into this repo.

[2021-09-09 13:35] jaron-l commented on #245
@mrooney, selenium-requests just released a hotfix with my merge request which should fix this issue. It's version 1.3.3. It should be picked up by anyone that runs `pip install --upgrade selenium-requests`.

[2021-09-09 13:38] jaron-l commented on #274
mintapi isn't bound to linux64. As long as you have a chrome binary, chromedriver binary, and python binary for your raspberry pi, it will work. There are already several people that have done this for the raspberry pi.

What issue are you running into exactly?

[2021-09-09 13:41] jaron-l commented on #279
I think you're confusing chrome and chromedriver. Chromedriver is not a full browser and is only an executable to control the chrome browser. Your chromedriver version must match the chrome version that is installed on your computer. Just download the chromedriver that matches your installed chrome version and use your normally chrome as you normally do.

[2021-09-09 13:44] jaron-l commented on #271
This is a bug with the logic to get the chromedriver downloaded. As a workaround, download the correct one and set `use_chromedriver_on_path=True` (and then make sure it is in the path somehow).

[2021-09-09 13:50] jaron-l commented on #276
Looks like this is a duplicate of #254

[2021-09-09 13:54] jaron-l commented on #254
This is a bug/change in workflow for mint.com. Mintapi does not currently handle email mfa if soft-token is specified, see [here](https://github.com/mrooney/mintapi/blob/d5f6790400f13f9ba756e1b7048a8050c6b29039/mintapi/api.py#L360).

If anyone is ambitious, it might be worth creating a more dynamic sign in workflow that doesn't follow a line of try-excepts, but rather identifies prompt types and r

[2021-09-09 13:55] jaron-l commented on #263
@DavidLangworthy, can you give the command you are entering to cause this (python or command line)?

[2021-09-09 13:57] jaron-l commented on #253
@mrooney this can probably be closed with #261 being already merged.

[2021-09-09 14:02] jaron-l commented on #250
@BenZuser, could verify what mintapi version you were using and if it still happens on the current release (1.49)? I am unable to reproduce.

[2021-09-09 14:45] DavidLangworthy commented on #263
This was from the captive browser for the amazon categorizer tool.  I attempted a repro from the mintapi command line client.

If you're looking at this, I can try another repo this weekend.  If you'd like a particular environment let me know.  I have conda.

Thank you!

[2021-09-09 15:09] jaron-l commented on #263
Isolating to mintapi would be helpful. Conda or cpython is fine.

On Thu, Sep 9, 2021, 9:45 AM DavidLangworthy 'notifications at github.com'
<jaron-github+reply+ADGNKUAKKOMBVJDDSCHRHMN7IX7SFEVBNHHDNFFZ24=
***@***.***> wrote:

[2021-09-09 15:34] DavidLangworthy commented on #263
Thanks.  Will do.

[2021-09-14 23:19] daltenbern3 opened #280 "Headless Error: Stale Element Reference"
Looks like something may have changed causing the headless call to fail. Here is the trace I am getting:

Exception: Message: stale element reference: element is not attached to the page document
  (Session info: headless chrome=93.0.4577.82)
---------------------------------------------------------------------------
StaleElementReferenceException            Traceback (most recent call last)
~/Per

[2021-09-18 20:02] mrooney opened #281 "add instructions for raspberry pi users"
This is a popular enough question, let's add a section to the README for it!

[2021-09-18 20:13] mrooney commented on #167
I created https://github.com/mintapi/mintapi/pull/282 to address this (and #281), please let me know if it looks good or what could be improved as I don't use Raspberry Pi and am just basing this off the instructions of others :)

[2021-09-18 20:13] #167 closed

[2021-09-19 04:43] mrooney opened #283 "upgrade to selenium requests 1.3.3"
Based on #245, we should update our requirements file to use this new version.

[2021-09-19 04:46] mrooney commented on #245
Perfect, we've got #284 to address this and as Jaron mentioned, you can upgrade your selenium-requests manually in the meantime :)

[2021-09-19 04:46] #245 closed

[2021-09-19 04:47] mrooney commented on #129
This should be resolved at this point, but please let me know if not :)

[2021-09-19 04:47] #129 closed

[2021-09-19 04:48] mrooney commented on #236
I'm going to close this out as I haven't heard of this issue recently, but please let me know if you can still reproduce it with the latest version.

[2021-09-19 04:48] #236 closed

[2021-09-19 04:49] mrooney commented on #31
Closing as we do now have start and end date filtering, PRs welcome for any others!

[2021-09-19 04:49] #31 closed

[2021-09-19 04:49] mrooney commented on #106
I'm going to close this out as I haven't heard of this issue recently, but please let me know if you can still reproduce it with the latest version.

[2021-09-19 04:49] #106 closed

[2021-09-19 04:49] mrooney commented on #114
I'm going to close this out as I haven't heard of this issue recently, but please let me know if you can still reproduce it with the latest version.

[2021-09-19 04:49] #114 closed

[2021-09-19 04:50] mrooney commented on #122
I'm going to close this out as I haven't heard of this issue recently, but please let me know if you can still reproduce it with the latest version.

[2021-09-19 04:50] #122 closed

[2021-09-19 04:51] mrooney commented on #137
I'm going to close this out as we now handle various MFA methods and raspberry pi. Please let me know if there are any missing use cases.

[2021-09-19 04:51] #137 closed

[2021-09-19 04:58] mrooney commented on #276
Duplicate of #254

[2021-09-19 04:58] #276 closed

[2021-09-19 04:59] mrooney commented on #253
Thanks, I'll mark as a duplicate, and Jon I hope you are able to resolve with the latest version.

[2021-09-19 04:59] mrooney commented on #253
Duplicate of #261

[2021-09-19 04:59] #253 closed

[2021-09-19 05:01] mrooney commented on #250
Thanks @jaron-l ! Closing for now, feel free to let me know and we can re-open if it can be reproduced with the latest version!

[2021-09-19 05:01] #250 closed

[2021-09-19 05:09] chaimpeck commented on #31
oh wow, heh, this was from seven years ago! I somehow missed the
comments on this. Whoops. Glad it is now implemented.

[2021-09-19 15:23] jaron-l opened #285 "Repo Management: Integrate Stale Probot Into MintApi"
In the past, when trying to help people to debug their issues, I've run across the problem where users won't respond for a request for more information on their issue. I think that issues that we've responded to and asked for more information should be closed after a period of time if we receive no response.

My proposition:
Whenever a maintainer of mintapi asks for more details on a issue, he sho

[2021-09-19 16:52] mrooney commented on #285
That's awesome, I love that idea :) I was going through some old ones manually last night, but this will help prevent them from accumulating in the first place. Go for it!

[2021-09-19 17:07] jaron-l commented on #285
Okay, I put in a request to have the bot installed to the mintapi organization. Let me know if that will be a problem. I'll have a pull request for the configuration setup soon.

[2021-09-19 18:38] mrooney commented on #285
Thanks, approved!

[2021-09-19 19:18] mrooney opened #287 "release 1.50 w/ element ID improvements"
Update w/ the various commits for robustification.

[2021-09-19 19:19] mrooney commented on #287
Done! :) https://pypi.org/project/mintapi/1.50/

[2021-09-19 19:19] #287 closed

[2021-09-20 20:57] #285 closed

[2021-09-20 22:18] dzg opened #289 "Running from xbar, "chromedriver need to be on PATH"

[2021-09-21 00:59] #190 closed

[2021-09-21 01:05] jaron-l commented on #289
Please provide the full stack trace, the commands that you used to cause the issue, and the version of mintapi you used.

[2021-09-21 01:10] jaron-l commented on #279
Let me know if this doesn't make sense.

[2021-09-21 01:15] jaron-l commented on #255
Yeah, we probably should've bumped the major version. Sorry about that. Closing as there's nothing to do here.

[2021-09-21 01:15] #255 closed

[2021-09-21 01:25] jaron-l commented on #266
That can't be it because your stack trace shows it happening upon entering the password. I'm going to close this for now but feel free to reopen if it happens again.

[2021-09-21 01:25] #266 closed

[2021-09-21 01:33] jaron-l commented on #246
Could you provide the full stack trace?

[2021-09-21 01:38] jaron-l commented on #239
Looks like this was already fixed as the line mentioned has been changed.

[2021-09-21 01:38] #239 closed

[2021-09-21 17:02] jaron-l commented on #241
This looks like the selenium logs. Could you include the mintapi logs? The last line seems like it might've been from mintapi but if there was an error, there should be a stack trace that could help figure out what's going on.

[2021-09-21 17:03] jaron-l commented on #235
Closing due to fix already being merged. Let me know if you still have issues and you can reopen the issue.

[2021-09-21 17:03] #235 closed

[2021-09-21 17:09] #66 closed

[2021-09-21 17:16] jaron-l commented on #109
Mintapi has since switched to seleniumrequests for cookie management so this issue no longer applies. Closing for this reason.

[2021-09-21 17:16] #109 closed

[2021-09-21 17:20] jaron-l commented on #113
The login method has since been automated which will trigger the refresh of data. Closing as this issue no longer applies. Feel free to reopen if you think I misunderstood.

[2021-09-21 17:26] jaron-l commented on #127
Closing due to won't fix comment. As a side note, you could always integrate mintapi inside the selenium docker container, which is what I do. If I understand it correctly, this should work with Azure Functions.

[2021-09-21 17:26] #127 closed

[2021-09-21 17:27] jaron-l commented on #134
This has since been implemented.

[2021-09-21 17:27] #134 closed

[2021-09-21 17:30] jaron-l commented on #139
You should include your arguments in the same command as each command creates a new instance of the process. If you need separate commands, be sure to include a session path to speed up the login workflow (and include the login info for all subsequent commands). Let us know if this problem persists after this explanation.

[2021-09-21 17:30] #139 closed

[2021-09-21 17:32] jaron-l commented on #161
mintapi no longer relies on that package. Feel free to open another issue if you continue to have other problems.

[2021-09-21 17:32] #161 closed

[2021-09-21 17:54] jaron-l commented on #162
This might have something to do with cookies. Clearing your session path and trying again may help. Since this is old and doesn't directly have to do with a bug in mintapi, I'm going to close this. Feel free to reopen or create another issue if you continue to have problems.

[2021-09-21 17:54] #162 closed

[2021-09-21 18:08] jaron-l commented on #164
I'm going to close this as it is not an issue with mintapi. As a note, you can always export to csv with mintapi and then export whatever platforms are not on mint to a common csv, combine, and then analyze the result.

[2021-09-21 18:08] #164 closed

[2021-09-21 18:11] jaron-l commented on #147
This is a duplicate of #245, which has a fix that has been merged. Let us know if you continue to have issues.

[2021-09-21 18:11] #147 closed

[2021-09-21 18:17] jaron-l commented on #168
You're stack trace never actually references mintapi nor the line that you mention where the problem is at. Are you sure that it's a problem with mintapi and not with another part of your code?

[2021-09-21 18:50] jaron-l commented on #278
duplicate of #208

[2021-09-21 18:56] jaron-l commented on #219
What is the stack trace? And is `FAIL2` an output on your stdout? What is that coming from?

[2021-09-21 18:59] jaron-l commented on #200
Could one of you put the full stack trace on this issue? That will make debugging this easier for anyone that is able to pick it up.

[2021-09-21 19:06] jaron-l commented on #194
Would it be easier to just use the json format from mintapi and then pandas [Dataframe::to_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)?

I wouldn't think this something that wouldn't normally be added directly to mintapi as it seems out of scope. I'll defer to @mrooney  though as this is a grey area.

[2021-09-22 04:27] j450h1 commented on #219
Yes, FAIL2 was the output. Unfortunately, its been a while and I'm not even able to authenticate and login so can't reproduce the stack trace.

[2021-09-22 04:27] #219 closed

[2021-09-22 04:35] revelario opened #291 "Mintapi hangs when passed a MFA method when no MFA method is enabled in mint.com settings"
Updated to 1.50 via pip and am able to login with `headless=False`, as long as I click on the MFA prompt manually. However, attempting to automatically login with `headless=True` hangs. Test usage below with Python 3.7.6 on Mac, Chrome Version 93.0.4577.82:

`mint = mintapi.Mint('<email>', '<password>', wait_for_sync=False, headless=True, mfa_method='sms')`

Thought it could be the same issue as/o

[2021-09-22 12:24] jaron-l commented on #291
Actually it sounds like #245 to me as that bug is the only one that hangs without crashing that I know of. What version of selenium-requests do you have? A recent release should have fixed it.

[2021-09-22 16:21] mrooney commented on #241
There have also been many improvements for new changes, so please upgrade to 1.51 and see if you can still reproduce the issue. Thanks!

[2021-09-22 16:25] mrooney commented on #194
Yeah, it's tough. Even documenting the JSON responses, which seems really useful on the surface, is putting stuff in docs that can change at any moment from Mint and will surely be quickly inaccurate. I could see the features you are describing being useful as a separate project that depends on mintapi, or a separate library that mintapi uses. Happy to host and support either one in this org as we

[2021-09-23 05:01] mrooney opened #293 "pypi url and badges are using the wrong URLs"
They need to be updated to use the new org URL :)

[2021-09-23 05:02] mrooney commented on #293
Fixed! Just need to release for the new pypi URL to be adjusted

[2021-09-23 05:02] #293 closed

[2021-09-23 05:09] mrooney opened #295 "create issue template with common asks"
It looks like we can create an [issue template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository) with some common things. I'm thinking something like:

* version of mintapi used?
* stacktrace/error received?
* what command did you run?
* what happened?
* what did you expect to happen?

[2021-09-23 05:10] mrooney commented on #295
Happy to configure this but curious on your thoughts @jaron-l on anything I might be missing :)

[2021-09-23 07:38] revelario commented on #291
Upgraded selenium to 1.3.3 and confirmed I'm using mintapi 1.5. Restarted shell, relaunched Jupyter, but still appears to be hanging at headless login.

![Screen Shot 2021-09-23 at 12 34 07 AM](https://user-images.githubusercontent.com/16533174/134470253-26e75f6e-7052-4bac-a2be-33dc85e614f1.jpg)
![Screen Shot 2021-09-23 at 12 34 20 AM](https://user-images.githubusercontent.com/16533174/134470269-1

[2021-09-24 00:38] jaron-l commented on #295
I think this a great idea! I was going to start writing one up soon as I
find myself asking the same questions. Let's do it.

On Thu, Sep 23, 2021, 12:10 AM Michael Rooney 'notifications at github.com'
<jaron-github+reply+ADGNKUARWX2ZEDSRM4DDB4V7K7WUBEVBNHHDXZ3JUM=
***@***.***> wrote:

[2021-09-24 20:22] #283 closed

[2021-09-25 15:56] mrooney commented on #295
I didn't realize this could be done as a PR, so closing in favor of reviewing #298.

[2021-09-25 15:56] #295 closed

[2021-09-26 20:28] burkematthew commented on #278
Unless someone beats me to it, once I finish getting everything going with mintapi, I'll take a crack at this.

[2021-09-28 14:23] cwmoriarty commented on #274
Oh, I can work around this just fine by hand.

It's just the 'linux64' chromedrivers available at CHROME_DRIVER_BASE_URL are x86_64/amd64 only.

[2021-09-28 23:35] jaron-l commented on #274
I would recommend following the the instructions discussed in #282. I know it's not merged in yet but they should help.

I'm going to close this as no action is needed. Feel free to reopen if you feel otherwise.

[2021-09-28 23:35] #274 closed

[2021-10-01 05:21] jcsacto commented on #253
@mrooney  Thanks, unfortunately I'm now getting that error when trying to pull budget history, any advice?
 mint.get_budgets(hist=2)

[2021-10-05 17:09] mrooney commented on #253
@jcsacto thanks for the update! Are you getting that with the latest mintapi, 1.53? If so, feel free to open a new report with our beautiful new bug template :D

[2021-10-06 14:35] jaron-l commented on #125
I can't find any reference to mintapi claiming a currency. Perhaps this is with an old version? When running `mint.get_transactions()`, the return dataframe has no reference to a currency type. It just has the raw amount. Let me know if I am missing something else I'll close this.

[2021-10-06 17:25] mrooney opened #303 "create branch rules for main including passing checks"
Implement branch rules requiring PRs, passing checks, resolved conversations, and up-to-date branches.

[2021-10-06 17:30] mrooney commented on #303
Based on looking at https://github.com/mintapi/mintapi/pull/301, I believe this is now working as intended!

[2021-10-06 17:30] #303 closed

[2021-10-08 16:31] mrooney opened #306 "add pypi shield to show latest version in README/Github"
We can show this along with our build shield :) https://img.shields.io/pypi/v/mintapi. Then it is always easy to see what the latest released version is!

[2021-10-09 20:10] #306 closed, assigned to nobody

[2021-10-10 15:21] burkematthew commented on #278
I'd just like to get some clarification here on what the expectation is when filtering accounts based on date.  Is the expectation that the results are filtered based on the accounts opened during that date, the accounts that have activity during that date, etc?

[2021-10-10 15:22] burkematthew commented on #174
@giguerefrancoisx @jeffyager could you try the start-date argument in the most recent version and report whether or not you're still experiencing issues?

[2021-10-10 17:33] jaron-l commented on #60
I think if category nesting can only go one layer deep then having the separate columns would be easiest as no parsing would be required. I was actually not aware that sub-categories could have more than one parent so I don't know if you have have sub-sub-categories.

[2021-10-10 17:45] felciano commented on #60
Agree (not sure why I recommended the `full_category_path` above -- keeping them distinct seems cleaner)

[2021-10-10 21:24] revelario commented on #291
The MFA settings in Mint was a good tip. MFA was turned off in my Mint. I turned MFA "on" in Mint, and ran the same minimal example I originally posted (importing mint was the only step not shown). MFA prompt appeared, I entered the token, and was able to pull my accounts.

Not sure why the code worked before when I never had MFA turned on in Mint, but happy that it's working again. Thank you, and

[2021-10-10 21:50] burkematthew commented on #278
@timdau thanks for the clarification.

[2021-10-13 12:41] jaron-l opened #311 "Add test standard to pull requests"
@mrooney this issue is mostly just for a discussion ground for how we might want to proceed with this.

When reviewing some of @burkematthew's recent pull requests, I find that I frequently am requesting pull requests to have some sort of unit test to verify functionality. I know testing can be a hard thing for those who are unfamiliar with it so I want to discuss what kind of standard we want to

[2021-10-13 12:56] jaron-l commented on #291
When you were running your code and it was not working, there was no prompt for the token? I was under the impression that mint requires some sort of MFA. I'm still curious how you were experiencing that hanging.

[2021-10-13 19:58] mrooney opened #312 "switch from nose to pytest"
Since nose is deprecated and preventing us from adding python 3.10 to the builds :)

[2021-10-14 05:17] ScottG489 opened #313 "Fetching credit information results in: "invalid cookie domain: Cookie 'domain' mismatch""
**Describe the bug**
Trying to retrieve my `--credit-score` results in this error: `Message: invalid cookie domain: Cookie 'domain' mismatch`

`--credit-report` also causes this error. I've tried a few other flags such as `--net-worth`, `--budgets`, and `--transactions` and those works fine.

**What version of MintAPI are you using?**
I'm running off source on `master`, currently `5bb5dd5a8ad4c3bc

[2021-10-14 17:10] mrooney opened #314 "add intuit_account support to command-line options"
#252 added support for this in the code via Python, but we should have a command-line option and updated README :)

[2021-10-14 17:15] mrooney commented on #311
I agree that running on every build is probably not the right approach, but it does raise a good point that integration tests for the most common issues (login) would be nice, especially since it doesn't require any banking data. We could certainly create an empty testing account on Mint that doesn't have any accounts hooked up, and put the credentials in Github Secrets on the project/repo, that s

[2021-10-14 19:15] ScottG489 commented on #311
One big hurdle here that comes to mind is the unpredictability of the login sequence. It seems like it would be hard or impossible to test every sequence much less every screen. Even if we did write something to automatically update the test users login settings it doesn't seem to reliably reflect what login prompts users get.

I know I've personally experienced and seen others mention that they'v

[2021-10-14 23:38] burkematthew commented on #278
So I went in and reviewed this a little bit more.  The section of Mint that you're referencing is really looking at trends and uses a different API call than the current handling of the account data.

Presently, we use `bundledServiceController.xevent` to get the account data, while the trend section uses `trendData.xevent` with a different set of input parameters.  It could be something we explor

[2021-10-14 23:42] ScottG489 commented on #313
Seems like now I'm getting this error even when specifying `--net-worth`.

[2021-10-15 18:11] jaron-l commented on #311
@ScottG489 I think you are exactly highlighting why I think the login workflow should not be our primary focus when asking/building more tests. The login workflow space (the dimensions of all possible ways that a user could login) is not predictable nor repeatable. If we cannot repeat workflows, then we cannot use the tests to show that a PR or current code doesn't break the login workflow. So wha

[2021-10-18 03:01] #312 closed, assigned to nobody

[2021-10-23 15:27] dantidote opened #318 "Login flow change for SMS 2FA"
The login _appears_ to hang just before prompting for the 6-digit code. Really, it's just doing the while loop over and over.  I stuck a driver.save_screenshot() in the try block and seeing this:
![image](https://user-images.githubusercontent.com/14890009/138561945-50e5610f-a468-4466-85d6-2fd2303eeb79.png)

Similar to how the email flow has `ius-mfa-email-otp-card-challenge`, SMS now has `ius-mfa-

[2021-10-23 22:36] #318 closed, assigned to nobody

[2021-10-26 12:00] burkematthew opened #323 "Change repo procedure from merge commits to squash commits"
When merging Pull Requests, there are 3 options:

1.  Create a merge commit.
2. Squash and merge
3. Rebase and merge

The typical default entry is #1 and that currently appears to be what we are doing.  I'd like to propose a change in procedure so that we squash and merge PRs.  This will provide a cleaner commit history on the main branch.  Instead of having several commits associated with a contr

[2021-10-26 14:04] jaron-l opened #324 "Change linter to pycodestyle"
I want to recommend that we switch from flake8 as our linter to [pycodestyle](https://pypi.org/project/pycodestyle/) as it supports automatic correction through [autopep8](https://pypi.org/project/autopep8/). Automatic correction reduces linting overhead as if the style can be applied automatically then the developer doesn't have to worry about it. So far, only pycodestyle/autopep8 and [black](htt

[2021-10-27 02:37] #323 closed, assigned to mrooney

[2021-10-28 12:08] burkematthew opened #326 "Add command-line option to control if inquiries are excluded"
If a credit report is requested, there are 3 different types of details included automatically: credit inquiries, credit accounts, and credit utilization history.  It'd be nice to have a way to isolate a certain type of that data.  To preserve existing functionality, we should add an "exclude" option for credit inquiries.

[2021-10-28 12:08] burkematthew opened #327 "Add command-line option to control if credit accounts are excluded"
If a credit report is requested, there are 3 different types of details included automatically: credit inquiries, credit accounts, and credit utilization history.  It'd be nice to have a way to isolate a certain type of that data.  To preserve existing functionality, we should add an "exclude" option for credit accounts.

[2021-10-28 12:09] burkematthew opened #328 "Add command-line option to control if utilization history is excluded"
If a credit report is requested, there are 3 different types of details included automatically: credit inquiries, credit accounts, and credit utilization history. It'd be nice to have a way to isolate a certain type of that data. To preserve existing functionality, we should add an "exclude" option for credit utilization history.

[2021-10-29 18:43] #216 closed

[2021-10-29 18:43] #168 closed

[2021-10-29 19:36] mrooney commented on #324
Nice, thanks so much for testing! I checked out both and I definitely am a fan of the black-produced syntax, and like the idea of it having stronger opinions. If you found them both equally easy to work with, I'd say let's go with black.

Do we add it as a check and require people to run it locally, or is there an easy way to integrate w/ Github such that it auto-commits the changes for each PR co

[2021-10-29 19:43] #223 closed

[2021-10-29 19:43] #200 closed

[2021-10-30 18:26] burkematthew commented on #311
Part of this discussion\CONTRIBUTING.MD should include explicit instructions about integration tests using test_args.json I can certainly work through those details, but I want us to discuss the proper procedure on using the integration test and how we can better incorporate that into the CI tests.

[2021-10-30 18:27] burkematthew commented on #278
@jaron-l agreed.  I'll add this to my list of tasks.  Thanks!

[2021-10-30 19:02] #241 closed

[2021-10-30 19:02] #194 closed

[2021-11-01 17:53] dzg opened #332 "mint.get_credit_score() causing cookie error"
[code]

[2021-11-01 18:01] dzg commented on #332
Also, after 'manually' logging in within chromedriver window:

\`\`\`mint.get\_credit\_score()
Traceback (most recent call last):
 File "\<stdin>", line 1, in \<module>
 File "/usr/local/lib/python3.9/site-packages/mintapi/api.py", line 1091, in get\_credit\_score
   report = self.get\_credit\_report(limit=1, details=False)
 File "/usr/local/lib/python3.9/site-packages/mintapi/api.py", line 1107,

[2021-11-01 22:19] dzg commented on #332
**SOLVED** by deleting my old `session_path` folder and letting mintapi re-create it.

[2021-11-01 22:25] burkematthew commented on #332
@dzg this appears to be a duplicate of #313 . We have a fix for this in a pending PR. #320

[2021-11-02 00:45] burkematthew commented on #324
I don't have much experience here, so very little to add.  However, I did notice that black is still in Beta.  Not that that is a deterrent, but I just wanted to make sure that that's clear.

[2021-11-02 00:46] burkematthew commented on #88
So from what I can tell, the only thing standing in the way of outputting accounts to CSV from the immediate response is an addresses object that needs a little flattening.  Other than that, there does not seem to be anything standing in the way of just converting the JSON to CSV.

[2021-11-04 23:50] mrooney commented on #332
Duplicate of #313

[2021-11-04 23:50] #332 closed

[2021-11-05 00:17] mrooney commented on #324
Good reminder! I'm fine with that, I worked in another project with it and enjoyed it :) @jaron-l , if you have any time to send over a Black PR I'd love to review!

[2021-11-05 12:27] jaron-l commented on #324
I'll get to this soon.

On Thu, Nov 4, 2021 at 7:17 PM Michael Rooney 'notifications at github.com'
<jaron-github+reply+ADGNKUGVF33VBZRMH3VPS3F7SBTTVEVBNHHD3RK4EE=
***@***.***> wrote:

[2021-11-05 14:00] jaron-l commented on #324
In my attempt to create a pull request for this, I noticed that black did indeed break our code. The only example that was caught by tests was it removed the return statement from Mint::get_transactions.

I can easily fix it but perhaps this shows black is still in beta and maybe we should perhaps reconsider using autopep8? I can see both sides:
Pro for autopep8 is that because it is less aggressi

[2021-11-07 17:48] matt199x opened #334 "Mintapi fails when installing on python2.7 due to dependencies requiring python>=3.6"
When running "pip install mintapi" the following error occurs:

Collecting oathtool (from mintapi)
Could not find a version that satisfies the requirement oathtool (from mintapi) (from versions: )
No matching distribution found for oathtool (from mintapi)

[2021-11-07 18:45] jaron-l commented on #334
This is likely a internet connection issue or something like that from pip
not being able to query PyPI. You'll probably be able to find the cause of
the issue from somewhere else in the error stack trace.

On Sun, Nov 7, 2021, 11:48 AM matt199x 'notifications at github.com'
<jaron-github+reply+ADGNKUFL4BVDG5R7K36JDSV7SPZH3EVBNHHD4ZIILA=
***@***.***> wrote:

[2021-11-07 19:26] matt199x commented on #334
I have been able to install several other items using "pip install" today. I tried on another raspberry bi and it has the same issue.

[2021-11-07 19:36] mrooney commented on #334
Is there a full stack trace you can paste as per the bug report template?

[2021-11-07 23:35] burkematthew commented on #256
I have just a little more work to do on this.  Hopefully should be able to submit the PR in the next couple of days.

[2021-11-08 00:11] burkematthew commented on #227
It looks like we do not currently support `get_invests_json` from the command-line, which is the method that actually makes this request.  @mrooney are you good with this change including adding support for `get_invests_json` from the command-line, while also switching over to the new endpoint?

[2021-11-08 00:11] burkematthew commented on #88
@mrooney thoughts on the above comment?

[2021-11-08 00:12] burkematthew commented on #89
@jaron-l I know you had some thoughts about this when discussing #256 .  What are your thoughts on this?

[2021-11-08 01:03] matt199x commented on #334
running "sudo pip3 install mintapi" instead of "pip install mintapi" fixed the issue.

[2021-11-08 03:24] jaron-l commented on #334
I don't think this is a mintapi issue but rather something about your
python setup. I was just able to install mintapi on a raspberry pi without
sudo or any other hiccups. The full stack trace should lead you to what the
issue is.

On Sun, Nov 7, 2021, 7:03 PM matt199x 'notifications at github.com'
<jaron-github+reply+ADGNKUEX73MRKLVVPCJCFGN7SRMGLEVBNHHD4ZIILA=
***@***.***> wrote:

[2021-11-08 16:14] matt199x commented on #334
`pi@raspberrypi:~ $ pip install mintapi
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting mintapi
  Downloading https://files.pythonhosted.org/packages/f6/94/6542c1a3d82ad599aa2bfcea4cfa10c84e99bd0ace2a830888a9993d8c84/mintapi-1.54.tar.gz
Collecting future (from mintapi)
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97

[2021-11-08 17:55] jaron-l commented on #334
Ah, that makes sense. pip is using python2.7 while when adding pip3 it is using python3. Your command switch fixes it by changing python versions, not by using sudo (which you should never do by the way. PyPI has had security vulnerabilities before and there is no need to run as sudo. If want pip to install at the user level, use the `--user` flag).

The reason your initial pip install command fai

[2021-11-09 14:36] #313 closed

[2021-11-09 14:49] jaron-l commented on #327
It does, see in [get_credit_report](https://github.com/mintapi/mintapi/blob/56c01912309dad557bd70125645ef8af994c0382/mintapi/api.py#L1151).

[2021-11-09 14:51] burkematthew commented on #218
@j450h1 can you pull the latest from main and see if you still get this issue?

[2021-11-09 15:42] jaron-l commented on #291
It seems like this is a mismatch between the call arguments made to mintapi and the mint settings. It looks like if you make a cal saying there is mfa, and your mint settings don't have mfa enabled, then mintapi hangs.

[2021-11-09 16:06] jaron-l commented on #89
My only concern is to avoid breaking the current workflow. So since json is the default, csv could be a flag to change the stdout.

[2021-11-09 16:08] jaron-l commented on #218
I didn't notate this before but this is likely an I/O issue since the json response appears to empty. I agree with @burkematthew, try the latest and let us know if the issue persists as that function changed recently.

[2021-11-09 17:33] burkematthew commented on #89
@jaron-l yes I was thinking that it could be a new option of --csv or something like that to indicate we want to format as CSV for stdout.

[2021-11-09 20:27] jaron-l commented on #280
Could you provide the basic information in our bug template?

Here's a copy of the template:

**Describe the bug**
A clear and concise description of what the bug is.

What version of MintAPI are you using?
What command[s] did you run / steps to reproduce?
Stacktrace/error received:

**What did you expect to happen?**

**What actually happened?**

**Additional context**
Add any other context about

[2021-11-09 20:34] jaron-l commented on #271
Hmm... I take it back. I don't think it's that it's downloading an unstable chromedriver, it's just that your machine hasn't updated to the most recent chrome version yet. Does this problem persist? It might be better to detect the chrome version of what is in your path and then download that version rather than just get the latest. Let me know if you continue to see this issue and perhaps we can

[2021-11-09 21:48] daltenbern3 commented on #280
Sorry I forgot to update this issue. The next day I tried again and no issue. Not sure what was the cause but can't seem to replicate anymore. Will create a new issue with more info if I see it again. Thank you!

[2021-11-09 21:50] jaron-l commented on #280
Thanks!

[2021-11-09 21:50] #280 closed

[2021-11-11 19:43] #334 closed

[2021-11-11 19:46] mrooney commented on #88
Yeah, sounds great to me! I certainly welcome any fixes to that. :)

[2021-11-11 19:47] mrooney commented on #227
Sounds like a great approach all around, thanks!

[2021-11-11 21:53] arbennet opened #339 "API Hangs at account selection screen"
I am entering my credentials directly to get going.

<img width="307" alt="Screen Shot 2021-11-03 at 10 46 21 PM" src="https://user-images.githubusercontent.com/60998792/141374165-560a51d4-71ac-43de-a88c-1330daa507d9.png">

I can see the driver open chrome, login to my account, prompt me for an mfa token (which is sent to my email), I then enter that token in the command line, and it successfully

[2021-11-12 14:08] burkematthew commented on #227
@jaron-l @mrooney I've got this working well on the draft PR submitted.  However, I do want to point out that the data structure does change, which could be a breaking change for some users.  How do we want to approach this?  I could simply add a new method that handles the new endpoint, while preserving the old method for those that use it.  In addition, since command-line doesn't exist at the mo

[2021-11-12 14:43] jaron-l commented on #227
Does the old method work? I thought the point was that the old endpoint fails. If the old method *does* work, then I would create a new public method and mark the old one for deprecation if you feel it should no longer be supported. You can see how I did that [here](https://github.com/mintapi/mintapi/pull/336/files#diff-420df6d2848df13c8b3e980ecabc8b151c54ed9cb66e44fb44ae42af2e5cec8dR461). If the

[2021-11-12 18:59] dzg opened #343 "Log in to Mint not working"
mintapi Version: 1.54 (via `pip3`)

Initial Python call was getting stuck, so I tried running with `headless` off to see what was going on.
After 'successful' log in, Mint shows this for an instant, then goes back to initial login page:
 

![image](https://user-images.githubusercontent.com/466557/141520415-209018a6-f1cb-4f80-b6d6-7c5ef2d26ed7.png)

Tried with both `mfa_method='soft-token'` and `'s

[2021-11-12 19:13] dzg commented on #343
I "fixed" this by deleting my `session_path` folder, and letting it create a new one.

But this has happened a few times now ... is there a permanent solution?

If I use `soft-token`, can I just get rid of `session_path`?

[2021-11-12 19:15] jaron-l commented on #343
Yeah, I've heard of this happening. I think it has to do with mint
detecting robot activity. You can certainly try getting rid of session_path
and see if you can login consistently. Let us know how it goes.

On Fri, Nov 12, 2021 at 1:13 PM dzg 'notifications at github.com'
<jaron-github+reply+ADGNKUGVTJYVZ6YTODW7QBF7TKO5DEVBNHHD5OJBUA=
***@***.***> wrote:

[2021-11-12 21:06] felciano opened #344 "Enhancement: allow batching multiple operations from the command line?"
I often find myself running `mintapi `multiple times because I'm looking grab snapshots of several datasets. For example, accounts, budgets, and transactions. Doing this via multiple command-line calls is unnecessarily slow because of the overhead of a new connection each time:

[code]

I've solved this with an ugly hack of cloning `api.py` and extending the code that does the command line process

[2021-11-12 22:02] jaron-l commented on #344
Why does it need to be from the command line? Typically I would urge you to just use the python api as this package is mainly a python library. With the python api, you have control of when the session starts and ends and you make all the calls you want in between. If you writing custom python code to deal with command lines, it seems like you're already surpassed the usefulness of the command lin

[2021-11-13 00:21] burkematthew commented on #227
@jaron-l yes, the old method works.  I was under that impression as well.

And I agree on that approach.  I'll go ahead and do that.  Thanks!

[2021-11-13 00:30] burkematthew commented on #344
@felciano this is essentially the same request as https://github.com/mintapi/mintapi/issues/256

@jaron-l I get your point, but as we discussed on #256 , it's already done for accounts and budgets.  I think that we either need to stick with one approach or another: we need to allow simultaneous pulls of data or _only_ one.  I see both sides of the argument, especially because we don't necessarily

[2021-11-13 00:31] burkematthew commented on #343
@dzg I ran into that pretty frequently.  I've started using `--session-path=None` in each request to work around that issue.

[2021-11-13 01:54] jaron-l commented on #227
What's the difference between the old and the new? Like what information is returned? What does the original author mean when they say it's deprecated?

[2021-11-13 04:36] felciano commented on #344
@jaron-l I have actually implemented this in python. However even my python code needs to be configured to access Mint correctly, and I've found empirically, however, is that my code is always playing catch up with `api.py` in the areas that involve configuration and connectivity. For example, it looks to me like about 50% of the command line options relate to this generic part of `mintapi`'s func

[2021-11-13 04:37] felciano commented on #344
Thanks @burkematthew I agree #256 looks very similar, and promising!

[2021-11-13 14:50] #125 closed

[2021-11-13 16:25] burkematthew commented on #227
@jaron-l from what I can tell, the old endpoint was just returning an HTML page to render.  The old routine would then strip out the data from that HTML page to return as the data.  In some ways, it does have more data, such as if an account is a retirement or brokerage account.  However, I would imagine that if Mint moved to the new endpoint, then there is a plan for them to actually deprecate it

[2021-11-13 17:21] burkematthew commented on #344
@felciano I'm actually pretty close to at least extending transactions with accounts and budgets. Hopefully once that's handled, extending even further should be no problem.

[2021-11-13 18:14] matt199x commented on #334
The readme should be updated to remove where it says "ensure you have python 2"

[2021-11-13 18:48] mrooney commented on #343
I also just released 1.57 to pypi with some login flow improvements, so it would be worth giving that and the other suggestions a try and reporting back!

[2021-11-14 05:10] eliluong commented on #249
Hi @burkematthew , wanted to chime in on this enhancement. I wanted to pull daily account balance data from Mint (for example, from Debts > Over Time > Some_Account. If I choose a time frame of one month, it will give me 30 days of data that I can export to CSV. If I choose any time frame over one month, Mint will lump it into two data points, one for each month. So to get data over a year, I woul

[2021-11-14 12:49] burkematthew commented on #249
@eliluong when I get to working on this enhancement, I'll see what flexibility Mint provides us in terms of dates to include and how to group data, i.e. monthly, daily, yearly, etc. I'll keep that in mind while working on the enhancement. I appreciate the additional use case to consider!

[2021-11-14 22:22] #289 closed

[2021-11-15 16:30] #324 closed, assigned to nobody

[2021-11-15 18:48] mrooney commented on #339
Please try with the latest version of mintapi which was released recently with some improvements in this area. If it occurs again, please open a new issue with the bug template :) Thanks!

[2021-11-15 18:48] #339 closed

[2021-11-15 19:19] arbennet opened #346 "Mint API Hanging at Account Selection Screen"
**Describe the bug**
API is hanging on account selection page.  Previously referenced in #339

What version of MintAPI are you using? 1.57
What command[s] did you run / steps to reproduce?
<img width="307" alt="Screen Shot 2021-11-03 at 10 46 21 PM" src="https://user-images.githubusercontent.com/60998792/141840842-a46f7763-fdb3-4e65-befd-3ec506252962.png">

entered mfa from email in terminal

Stac

[2021-11-16 14:00] jaron-l commented on #346
What are your MFA settings in mint.com? You check by going to mint.com (sign in) -> settings (on top bar) -> intuit account (side bar) -> Sign in and security -> two step verification

[2021-11-16 19:49] arbennet commented on #346
@jaron-l two step auth is on configured to send text messages

[2021-11-16 19:55] arbennet commented on #346
however when i use mintapi it is sending them to my email anyway

[2021-11-17 04:12] #263 closed

[2021-11-17 19:17] #174 closed

[2021-11-19 19:30] junreddy commented on #346
When I use this it's stuck at this screen when I have email as my authentication. Is there a way on Mint to make email the default way to authentify?
<img width="1200" alt="Screen Shot 2021-11-19 at 2 05 48 PM" src="https://user-images.githubusercontent.com/84739443/142680761-b67715c7-cf33-4d81-9f91-9cb5b20b6dd6.png">

[2021-11-20 13:45] apiology opened #347 "mintapi 1.57 hangs on overview screen with --extended-transactions"
**Describe the bug**
mintapi 1.57 hangs on overview screen

What version of MintAPI are you using? 1.57
What command[s] did you run / steps to reproduce?* mintapi --use-chromedriver-on-path --extended-transactions my-username my-password
Stacktrace/error received:

After waiting five minutes, I hit control-c  and get this:

[code]

**What did you expect to happen?**

Fetch extended transaction dat

[2021-11-20 15:10] burkematthew commented on #347
@apiology can you include the exact command you used?

[2021-11-20 16:01] burkematthew commented on #347
Thanks for the report @apiology .  It seems that the performance degradation is in an attempt to locate the parent category associated with the category of the individual transaction.  For the time being, try using either `--start-date` and/or `--end-date` to narrow the results that you are trying to pull while we identify a resolution for the performance degradation.

[2021-11-20 16:12] apiology commented on #347
Sounds good!  Let me know if there's any more info I can provide in the meantime, and happy to retest when you're ready.

[2021-11-20 17:03] burkematthew commented on #347
@apiology I will, thank you! I believe I've got the root cause identified, so I will keep you posted on the status of the fix.

[2021-11-20 17:56] #326 closed

[2021-11-20 20:03] jaron-l commented on #344
@burkematthew That's a good point. If you could publish your code, even as a draft PR, that might help me to understand.

@felciano, I think you misunderstand the alternate path I am suggesting. I am not suggesting that you clone mintapi and modify the code to do what you need. I'm suggesting that you write your own package that has mintapi as a dependency, makes python calls against it, and then

[2021-11-20 22:23] burkematthew commented on #344
@jaron-l I have a few things I'm trying to tidy up and then I can post a draft PR.

[2021-11-21 14:21] burkematthew opened #349 "Credit Report requests are failing"
**Describe the bug**
I am unable to process

What version of MintAPI are you using?

* I tested on the current version of main
* I also tested on a branch created from commit `4c0a1713dc7aa0f9691b9989d6db3834fe613490` (https://github.com/mintapi/mintapi/commit/4c0a1713dc7aa0f9691b9989d6db3834fe613490)
* I also tested on a branch created from commit `56c01912309dad557bd70125645ef8af994c0382` (https

[2021-11-22 13:31] burkematthew commented on #88
@felciano @mrooney @jaron-l after looking at this, I realized that there is one field `possibleLinkAccounts`, that could potentially be an array.  However, I do not have any data populated in this array on my various accounts.  I wanted to see if anyone else had data in that array?

[2021-11-22 13:59] burkematthew commented on #197
@mrooney @jaron-l I found a way to get this information from Mint, but it's in a completely different endpoint than what we're using for accounts.  However, I actually think switching to this new endpoint, `providers`, could be a positive change for a few different reasons (which we can discuss elsewhere as it relates to the next major release as it would be a breaking change).

Also, on a slightl

[2021-11-24 18:30] mrooney commented on #347
Resolved via #348, thanks all!

[2021-11-24 18:30] #347 closed

[2021-11-24 18:33] mrooney commented on #88
If it isn't possible to handle without seeing example data, you could just catch that scenario with an error message to submit a bug report with an example of the data. That way, if it is a common thing, we'll get a report with some example data to use.

[2021-11-24 18:35] mrooney commented on #197
I think that makes sense and I'm in favor of that. I am imagining a world where they haven't removed it yet because they are still seeing hits to it for reasons they don't understand, and those are from us 🤣

[2021-11-24 19:24] jaron-l commented on #349
The JSON code means that nothing was returned in your stack trace, not even an error. It's likely that you had connection problems and never hit mint.com. This problem would seem intermittent because it worked on 56c019 but not more recent ones which shouldn't have affected your command if I understand it correctly.

[2021-11-24 21:07] burkematthew commented on #349
@jaron-l it's isolated to this specific type of request. All others work. I've also tried several different days with the same behavior.

[2021-11-24 21:41] jaron-l commented on #349
Got it. That does sound weird. I'll take a look.

[2021-11-24 22:18] jaron-l commented on #349
I can't get it to fail on any commit since `56c0191`. I'm just calling `get_credit_report` and asserting all the keys are there. Seems that should trigger what you're seeing. Can you confirm your sign in process worked successfully?

[2021-11-24 23:30] burkematthew commented on #349
@jaron-l it's not that the tests are failing, it's that the response itself from the endpoint fails.  If you use the same set of commands I did at the command-line, do you get a successful response with the data?

[2021-11-24 23:31] burkematthew commented on #197
@mrooney at what point do we want to move to a new major release?  Should I hold off on working on moving to the new `providers` endpoint or am I good to start working?  If it'll be awhile before we actually want to deploy it, I'll hold off and work on other non-breaking changes.

[2021-11-24 23:34] burkematthew commented on #88
@mrooney thinking about it, I made this comment before making the realization about the `providers` endpoint.  I probably want to postpone flattening to CSV until we move towards implementing that new endpoint.

[2021-11-24 23:57] jaron-l commented on #349
I wrote my own small test that calls `get_credit_report` and asserts that the response contains all the needed keys. It is working on the endpoint mentioned. I can try the command line route but it shouldn't make a difference unless it's the way the command line sets up the Mint class.

[2021-11-25 00:48] burkematthew commented on #349
Oh I see. I misunderstood. This is super weird. I guess I'll try again and see if I'm having the issue today.

[2021-11-25 00:50] jaron-l commented on #197
Just a thought, can this be implemented in a backwards compatible manner? Can you just add a new method and show a deprecation?

[2021-11-25 01:01] burkematthew commented on #349
@jaron-l Okay I figured out the key distinction.  In `headless` mode, the request works correctly.  I think it must be because of the cookie handling with regards to the separate URL (`MINT_CREDIT_URL`).  With that being said, we should either add a validation for `--credit-report` or `--credit-score` that requires the use of `--headless` or we need to hardcode the use of `--headless` with either

[2021-11-25 01:07] burkematthew commented on #197
We can certainly implement a new method for the `providers` endpoint but it won't link up to the command-line, which is I guess a good short term solution to at least get the endpoint implemented and people used to seeing the new data structure.

[2021-11-25 01:20] jaron-l commented on #349
I would think we should investigate whether there is a way to make it work in GUI mode before we rule it out.

[2021-11-26 01:12] mrooney commented on #197
Is it a pretty large code change, or a smaller code change and just using a new endpoint under the hood? If the latter, I'm fine with just doing it as a point release. If it is a larger code change, you raise a good point and we can do it as a v2.0 release after wrapping up any smaller in-flight PRs :)

[2021-11-26 02:54] jaron-l commented on #349
I was able to reproduce this today. I think the best way to handle this might be to do it the same way that seleniumrequests merges the cookies from different domains. We probably need to be using seleniumrequests to manage the cookies for the credit endpoint anyways because that is the whole reason that we use it in the first place. I'll continue to look into this. Hopefully there's a way to mana

[2021-11-26 02:59] jaron-l commented on #346
@arbennet, since you are running this in GUI mode, what is the order of the pages that you see when logging in? Do you see any errors on the web page itself with something along the lines of, "Oops, there was an error, try again" and then it refreshes and puts you back at the account selection page?

[2021-11-26 13:38] burkematthew commented on #349
@jaron-l let me know if you want me to look into anything with it as well.

[2021-11-26 13:39] burkematthew commented on #197
@mrooney the change itself is not a big deal to make. However, the differences lie in the underlying data returned: different fields, different labels to describe similar data, etc. It's different enough that it'd be a breaking change for retrieving account data.

[2021-11-26 23:29] mrooney commented on #197
@burkematthew Got it! In that case, I like the idea of releasing that as a v2 just for extra clarity, and we can add plenty of notes :)

[2021-11-26 23:53] burkematthew commented on #197
@mrooney so hold off for a little bit on this until we're ready for v2?

[2021-11-27 00:02] burkematthew commented on #88
@mrooney that being said, for v1, I think we could just add the error saying account details are not compatible with CSV instead of after fetching the data. Then for v2, when we work on exporting account data to CSV, we can remove that requirement.

[2021-11-27 00:03] burkematthew commented on #248
Hi everyone! A fair amount of changes have occurred since the last comments. Could we get some updated status reports on if this error is still occurring? Thanks!

[2021-11-27 00:05] burkematthew commented on #254
@jaron-l do any of your latest changes to the sign in flow relate to this issue?

[2021-11-27 00:39] arbennet commented on #346
@jaron-l i see the home-page, then email entry, then password, then account selection.  After account selection an mfa email screen opens.  At this point there is a prompt in the terminal to enter the token, which i do.  It clicks into the next page where the account selection is available, but nothing occurs beyond this.

There are no errors on the page, and i don't see any errors in the dev tool

[2021-11-27 01:03] burkematthew commented on #346
@arbennet if you use `--session-path=None`, do you see any different behavior?

[2021-11-27 01:08] arbennet commented on #346
@burkematthew the behavior is the same

[2021-11-27 03:57] jaron-l commented on #254
Not that has been merged into main. I have a dynamic sign in workflow working on a local branch on my computer but am breaking up the changes I made into multiple merge requests so as to not overwhelm. I'm hoping the dynamic sign in will address many of the sign issues we have open right now.

[2021-11-27 04:23] arbennet commented on #346
@burkematthew @jaron-l interestingly if i use the cli it works, it's only if i import it from python that it doens't work

[2021-11-27 16:32] arbennet commented on #346
@jaron-l @burkematthew i noted that if you don't specify intuit_account it'll pick the default option, and this worked for me.  Although, if i had wanted to use the other one it appears it won't work

[2021-11-27 16:32] #346 closed

[2021-11-27 22:09] burkematthew commented on #346
@arbennet I'm under the impression we still not have implemented the feature to choose an intuit account from the command line. See #314

[2021-11-28 20:28] pazwicker opened #353 "JS Exception for Core mintapi Functions"
# Description
Functions failing because of `Message: javascript error: Cannot read properties of undefined (reading 'browserAuthAPIKey')`.

# Versions
mintapi version 1.57
OS: Ubuntu 20.04

# Steps to Reproduce
Steps:
1. Get `mint` object
[code]

2. Try to get mint bills:
[code]

Error:
[code]

# Additional Context
* This happens for other mintapi functions, like `mint.get_accounts()` and `mint.ge

[2021-11-28 20:45] pazwicker commented on #271
@jaron-l this is no longer an issue, at least for me.

[2021-11-29 00:39] burkematthew commented on #353
@pazwicker do you experience the same issues from the command line or just from your own scripts?

[2021-11-29 15:17] #327 closed

[2021-11-29 15:57] #271 closed

[2021-11-29 15:59] jaron-l commented on #353
@pazwicker Also, if you could post the full stack trace, that would be helpful. Knowing where the error is raised could help us reproduce.

[2021-11-29 17:48] pazwicker commented on #353
@burkematthew @jaron-l thanks for jumping in. Slightly different error this morning (seems things are evolving). the core `get_bills()` is now working, as is `get_accounts()`, but `get_detailed_transactions()` is failing. Full stack trace below.

[code]

[2021-11-30 06:27] mrooney commented on #88
@burkematthew sounds good to me! :) 👍

[2021-11-30 15:29] hudcap commented on #343
I'm having the same issue on 1.57

[2021-12-01 00:03] mrooney commented on #197
I'm happy to see it implemented either as a new method/switch that doesn't break anything, or release the new endpoint usage as a v2. Also, is it pretty different or would it make sense to simply map the data to the existing format?

[2021-12-01 00:53] burkematthew commented on #197
@mrooney in terms of effort to go through mapping to the existing format to just break it on v2, I'd say it's not worth it.  I'd rather wait or at least implement a new method that doesn't break anything.

[2021-12-01 20:22] TristanBrotherton opened #357 "Installation issues"
**Describe the bug**
Installing the latest version of mintapi on Ubuntu Focal Fossil.
I installed chromium as per the instructions along with chrome-driver.

What version of MintAPI are you using?
latest (1.58)
What command[s] did you run / steps to reproduce?
`mintapi --headless --use-chromedriver-on-path --credit-score myemail@domain.com 'mypasswordhere'`

**What did you expect to happen?**
To r

[2021-12-02 00:23] #357 closed

[2021-12-02 08:25] #328 closed

[2021-12-03 14:24] #227 closed

[2021-12-05 19:13] burkematthew commented on #353
@pazwicker sorry for the delay on looking into this for you.  I know you were having some different behavior from day to day, so I just wanted to check-in and see your current state of errors\responses.

[2021-12-07 14:16] jaron-l opened #362 "bug: :bug: get_email_code hides exceptions when they happen"
The convention used throughout the function `get_email_code` to just return an empty string if there is an error hides excpetions. I would suggest that we explicitly raise exceptions when errors happen else the sign workflow will just ignore the problem and fail later when signing in. I think that makes debugging issues harder.

_Originally posted by @jaron-l in https://github.com/mintapi/mintapi/

[2021-12-07 18:15] mrooney commented on #362
Thanks for creating this to track that! :)

[2021-12-07 23:14] burkematthew commented on #362
I'll take care of this once I fix up my changes in the open PR.

[2021-12-08 02:48] msimoni18 opened #364 "Only able to log in manually in Chrome after MFA input"
Having trouble logging in with MFA code using ```mintapi=1.58```.

I copied the "from python" section from the README.md and input my username/password. When I run the code, it prompts me for 6-digit MFA code. It continuously asks for the MFA code. In order to log in successfully, I have to manually click the login button in Chrome *after* entering the MFA code for the first time, and *before* the

[2021-12-08 03:20] burkematthew commented on #364
@msimoni18 can you add a snippet of your code that you're running?

[2021-12-08 04:57] xinluh commented on #364
There is a new version of the 2fa page with different id's, e.g. https://github.com/xinluh/yamintapi/commit/b4546d64dd5adf22d2b9e54c088d14da0fe127e4#diff-29db0a202391c066de62d16a0d5b5cc129dc4fb8fb75c5f759a65fdd0452ceef

[2021-12-08 06:13] pazwicker commented on #364
Happening to me too. Running:

[code]

[2021-12-08 11:36] msimoni18 commented on #364
Here's my code that I directly copied from the README.md.  I only changed the username, password, and tried ```session_path=None``` and ```session_path=mypath```.

[code]

[2021-12-08 13:46] burkematthew commented on #364
Thanks everyone for the information! I'll take a look at this evening.

[2021-12-09 05:11] jcsacto opened #365 "Getting 'string indices must be integers' when trying to pull last month's budgets"
**Describe the bug**
I'm able to pull this month's budget with no problem but when I try and pull last month's I'm getting the error shown in title.  See code below.

What version of MintAPI are you using? 1.5.3

What command[s] did you run / steps to reproduce?
#Create Budget History to get last month's budgets
budgets_ltm = mint.get_budgets(hist=2)
last_month_key=min(budgets_ltm.keys())
budgets_

[2021-12-09 16:50] areagu commented on #364
same thing is happening to me, keeps on asking for MFA code even after entering one.. whether headless=True or not

[2021-12-09 21:52] mrooney opened #368 "release 1.59 to pypi"
Just an issue to track that 1.59 needs to be released now that the notes are merged :)

[2021-12-09 22:13] mrooney commented on #368
Done!

[2021-12-09 22:13] #368 closed

[2021-12-09 23:48] jaron-l commented on #364
This will likely get resolved with #367.

[2021-12-11 00:46] pazwicker commented on #364
I just submitted a new PR that fixes this issue for me, #370.

[2021-12-11 20:05] burkematthew commented on #365
Hi @jcsacto thanks for your report!  I have replicated this behavior and will work on a resolution today.  We'll keep you posted on the progress!

[2021-12-11 20:30] burkematthew commented on #365
Hi @jcsacto, I see that you are on an older version of Mintapi.  Can you try updating to the latest version of Mintapi and see if your issue persists?  Thanks!

[2021-12-12 02:38] burkematthew commented on #291
So an interesting point to keep in mind here:

By default, an OTP is sent via email.  If you want, you can configure your Mint account to accept an OTP via the following:

* Text Message
* Phone Call
* Authenticator App

@jaron-l I think it's somewhat similar to what you're saying in that if the method you submit doesn't match what you have configured, you run into an issue.  As you've suggested p

[2021-12-12 02:40] burkematthew commented on #311
@jaron-l how do we want to move forward here?  I want to setup integration with codecov and implement that as part of our GitHub Actions flow, which I think will play in nicely here as we can require certain benchmarks in terms of coverage deltas.

I can get codecov implemented first and then we can build out these standards?

[2021-12-12 04:36] jcsacto commented on #365
Hi @burkematthew unfortunately after upgrading (apologies, thought I did that with the pip upgrade method but just uninstalled and reinstalled this time) can now not even login at this point.  Receiving the error below and below that is my login script, thanks in advance for any help.

'token'
Traceback (most recent call last):
  File "C:\Users\Jon Crosby\.conda\envs\mintEnv2\lib\site-packages\min

[2021-12-12 04:58] burkematthew commented on #365
Hi @jcsacto thanks for the updated information. I'll review this and get back with you on my findings. I appreciate your patience!

[2021-12-12 05:10] chino commented on #364
I've gotten around this as well using a similar approach to the existing PRs here.

I would vote for using the `id=iux-mfa-soft-token-verification-code` change along with the `css=button[data-testid=VerifySoftTokenSubmitButton]` approach as that doesn't depend on strict div layouts (which feels both simpler and more resilient to future change).

[2021-12-12 15:48] burkematthew commented on #314
@jasonkissinger Is the `intuit_account` functionality that this issue relates to actually working?  I started working on implementing the command-line option and it appears that we hang in a try\except loop.  If you are able to successfully use this functionality, I'll keep pushing through to see what I'm doing wrong.  Otherwise, I'll explore a bug fix in conjunction.

[2021-12-12 21:27] jasonkissinger commented on #314
It worked a few months ago but I've abandoned the project which uses it so
haven't tried in awhile.  I've noticed that the login UI has changed
recently so I wouldn't doubt it no longer works.

On Sun, Dec 12, 2021, 9:48 AM Matthew Burke ***@***.***>
wrote:

[2021-12-12 22:27] burkematthew commented on #314
@jasonkissinger got it, thanks for the update!

[2021-12-13 03:57] mrooney commented on #311
@burkematthew it seems great to add the features in Github, and then we can certainly add some check that doesn't let it get lower on new PRs?

[2021-12-15 06:35] mrooney opened #373 "ci: python 3.10 builds take ~10 minutes"
Just opening this to track that python 3.10 builds take ~10 minutes, perhaps caused by building pandas? The other version take ~30 seconds, so this really slows down our cycle/feedback times. Curious if anyone has any ideas!

[2021-12-15 13:34] jaron-l commented on #373
It's because the pandas version we have pinned (1.1.4) does not have a wheel version for 3.10. We should simply update the requirements file to something more recent with a 3.10 wheel.

[2021-12-15 19:57] mrooney commented on #373
Ah, thanks for the pointer! Created #374 to address this :)

[2021-12-16 17:47] mrooney commented on #373
#374 merged!

[2021-12-16 17:47] #373 closed

[2021-12-17 19:33] #218 closed

[2021-12-18 19:26] mrooney commented on #364
Should be resolved w/ #367 and #370!

[2021-12-18 19:26] #364 closed

[2021-12-18 20:36] burkematthew opened #376 "Add GitHub Action to Publish to PyPi on Release"
In an effort to simplify the release process, we should add some a step to our GitHub Action Workflow to auto-publish to PyPi.

See the following documentation for a reference guide on how to do so:

https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

In addition, to help smooth out the release process even more, I'd recomme

[2021-12-18 20:37] burkematthew commented on #376
@mrooney I'd like to get your thoughts on the above.  Since you typically handle the releases in PyPi, I thought this could make your life a little simpler.  I also think you might need to handle it since it involves adding the PyPi credentials as a secret in the repo.

[2021-12-20 00:13] mrooney commented on #376
Thanks for the issue and thoughts, greatly appreciated! I would say in general that managing an additional branch and potential cherry picks / merges between them, seems like more work than the process now to release from `main` as desired. I also like the idea that the goal is for `main` to always be releasable; the work is only the decision of when.

Though, if there's some way to leverage GH ac

[2021-12-20 23:54] burkematthew commented on #365
@jcsacto we just released some modifications surrounding category handling. Can you test out on 1.60 and see if you still experience this issue?

[2021-12-21 00:07] shumm92 opened #378 "Requesting CSV file for investments per cobolisalive"
Only JSON is available currently.

[2021-12-21 00:24] jcsacto commented on #365
@burkematthew  Everything is looking good again!  Awesome job and thanks so much for keeping me in the loop, at the moment I appear to be 'back in business'.  Happy holidays!

[2021-12-21 00:44] burkematthew opened #379 "UnboundLocalError: local variable 'attention_msg' referenced before assignment"
**Describe the bug**
When running any command-line option without specifying `attention`, an error is received.

What version of MintAPI are you using?: `1.60`
What command[s] did you run / steps to reproduce?

keyring
investments
mfa-method=email
imap-server=imap.gmail.com
imap-account=<email>
filename=investments.json

Stacktrace/error received:

UnboundLocalError: local variable 'attention_msg'

[2021-12-21 01:15] shumm92 commented on #378
Matthew thank you. I think many users would also appreciate formatting the data set using pandas.

[2021-12-21 22:23] #365 closed

[2021-12-21 22:24] mrooney commented on #379
Thanks, fixed and I'll release that as 1.61!

[2021-12-21 22:24] #379 closed

[2021-12-22 01:21] burkematthew commented on #378
@shumm92 FYI, you can track progress in #382 .

[2021-12-22 01:27] burkematthew commented on #376
@mrooney just figured I'd ask on the `development` to `main` idea.  Either way is fine with me.

Do you want to pursue the use of GH Actions for releasing to PyPi?  If so, if you go through the steps to add the secrets to the repo, I can work on the Action itself to get it hooked up.  Let me know your thoughts.

[2021-12-23 17:36] brikeohane opened #383 "get_transactions and get_transactions_csv no longer uses include_investment"
## Describe the bug

When calling the `get_transactions method`: https://github.com/mintapi/mintapi/blob/60519f26b85dce25adff7781ddaa94173461ca8c/mintapi/api.py#L549-L552
the `include_investment` flag is passed. However, the backing `get_transactions_csv` no longer relies on the flag -- it relies on acct instead: https://github.com/mintapi/mintapi/blob/60519f26b85dce25adff7781ddaa94173461ca8c/mint

[2021-12-26 05:38] atkaiser opened #385 "CLI throws exception when filename option isn't specified"
**Describe the bug**
As the title states I ran into the exception below when I tried to use the CLI.

What version of MintAPI are you using?
`1.61`
What command[s] did you run / steps to reproduce?
`python mintapi/api.py <my email>`
Stacktrace/error received:
[code]

**What did you expect to happen?**
No exceptions and a JSON  of the output

**What actually happened?**
I got the above exception

*

[2021-12-26 22:43] mrooney commented on #376
Sure, that sounds neat! Is my understanding correct that this would be a manual workflow, so that we could still have PRs to update the changelog/version as appropriate, but then we could navigate to the Actions tab of the repo and kick off the release via GH? If so, that sounds great! Just let me know what secrets to add :)

[2021-12-26 23:00] burkematthew commented on #376
@mrooney the idea is that the PR for changelog and version update would trigger a GH Action that would release to PyPi.

[2021-12-27 01:43] bfongbfong opened #387 "get_transactions_json() failure"
**Describe the bug**
firing `mint.get_transactions_json()` is failing for me.

What version of MintAPI are you using?
1.61

What command[s] did you run / steps to reproduce?
fire `mint = mintapi.Mint( ... )`, and then run
`mint.get_transactions_json(include_investment=False, skip_duplicates=True)`
Stacktrace/error received:
[code]

**What did you expect to happen?**
api to retrieve transactions in

[2021-12-27 04:18] burkematthew commented on #387
@bfongbfong I've encountered this before and it's often a temporary issue due to local or mint connectivity issues, separate from mintapi. Could you try again and see if you're still encountering the same issue? Thanks!

[2021-12-27 17:06] jeremyehack opened #388 "Uncaught Selenium Exception: StaleElementReferenceException"
**Describe the bug**
I'm running mintapi in a container headless on AWS and it has been working fine for months even through occasional Chrome and package version updates. It runs through the login flow fine, but then after it enters MFA it is erroring on a StaleElementReferenceException. I ran same script without headless mode on my Mac and was able to confirm that it is happening right after the

[2021-12-28 21:15] buzzeddesign commented on #388
Confirming the same issue, fixed by modifying that line 488 to this:

`except (NoSuchElementException, ElementNotInteractableException, StaleElementReferenceException):`

(thanks for showing me where to add this @jeremyehack !)

[2021-12-28 21:40] buzzeddesign commented on #388
I am hacking, not sure exactly what is going on here - but adding this:

`driver.implicitly_wait(20)  # seconds`

...just above [that Try block](https://github.com/mintapi/mintapi/blob/1ea57748ff891d55ba1e7275a60d1214a67622c5/mintapi/signIn.py#L479) also seems to fix without ignoring the exception - not sure how long that wait needs to be.

[2021-12-29 16:19] jeremyehack commented on #388
Good find, that is probably better than suppressing the exception. I don't think it even needs 20 seconds, I think 1-2 would be fine. I'll fiddle around with that and see what I get

[2021-12-29 16:48] jaron-l commented on #388
`implicitly_wait` is probably not what you think it is. It sets the setting for the driver to wait for every DOM interaction. You are thinking of the builtin `time.sleep` or better yet an explicit wait.

Does the added exception handler in the except not sufficient to fix what you are seeing? If the element goes stale, it should catch the updated element on the next iteration of the while loop whe

[2021-12-29 19:11] hudcap commented on #388
Same problem, same solution.
Thanks!

@jeremyehack I would say to go for the PR, adding the `StaleElementReferenceException`
As @jaron-l pointed out, you're not suppressing the exception, but merely causing another go-round with the while-loop

[2021-12-30 02:04] #385 closed

[2021-12-30 05:47] mrooney commented on #388
Awesome. please do submit a PR for that and I'm happy to review and merge it :)

[2021-12-31 01:46] mrooney commented on #388
Created #391 to address this.

[2021-12-31 01:49] mrooney commented on #376
Awesome! Just to clarify, is it the creation of the PR, or the merging of the PR to main? I'd think we'd only want the latter. If so, I wonder if it could also handle tagging a release 🤔

[2021-12-31 02:14] burkematthew commented on #378
@shumm92 this was just merged. If you are running off of main, it's available. Otherwise, it'll be in the next release.

[2021-12-31 02:14] #378 closed

[2021-12-31 02:18] shumm92 commented on #378
Wow that was fast! Thank you

[2021-12-31 03:38] burkematthew commented on #376
@mrooney it'd be the merging of the PR to main. And yes I know we could do that as I've seen that done before.

[2021-12-31 14:48] burkematthew commented on #376
@mrooney thinking about this a little more, I think the biggest trick will be to know which merge to main is supposed to trigger the action.  In most implementations I've worked with, we have the `main` and `development` branching pattern, which makes it simple that any merge to `main` triggers the flow.  I get that your point about any history on `main` is considered releaseable.  However, I thin

[2021-12-31 14:56] burkematthew commented on #376
Also, I came across this GH Action that could be a nice addition to automating the CD of this repo: https://github.com/ardalanamini/auto-changelog

I know it doesn't take long for you to do these pieces, but it'd be nice to eliminate the need for manual intervention and simply let you focus on the more important aspects of maintaining the repo.

[2021-12-31 17:11] burkematthew commented on #278
Noting on here that I had started to work on this and ran into some roadblocks and ended up pivoting.  Will revisit when I get a chance.

[2021-12-31 17:12] burkematthew commented on #89
@sken77 when thinking of output as CSV, do you mean a true comma-separate list or a pandas data frame?

[2021-12-31 17:32] timdau commented on #278
Thanks @burkematthew, Happy New Year

[2021-12-31 20:29] mrooney commented on #388
#391 is merged, so this can be fixed by pulling the latest main :)

[2021-12-31 20:29] #388 closed

[2022-01-01 20:45] #362 closed

[2022-01-02 10:37] mike503 commented on #385
this seems to still be happening to me.

ubuntu 20.04
mintapi 1.61 (from pip)
Python 3.8.10

running mintapi -h works.

mintapi with nothing gives this:

[code]

when using mintapi -f something.json it does "run" but I can't actually see it doing anything so far.

however, the expected behavior would be NOT having it throw the error, and also I cannot run any of the documented examples if it doesn

[2022-01-02 15:22] bfongbfong commented on #387
hey @burkematthew , I've been trying to over and over and it's always the same result :/

[2022-01-02 22:43] burkematthew commented on #387
@bfongbfong thanks for the update.  A couple other things I'd like some information on:

1.  Does getting transaction data from the command line work for you?
2. Do other data requests work in your script?  For example, account data or investment data.

I'll test out running that command in a python script as well and see if I encounter the same issue.

[2022-01-03 16:32] atkaiser commented on #385
@mike503 This was fixed after 1.61, so that's why you are still getting the error on 1.61.  @mrooney would have to answer when a new version (which includes this fix) would get pushed up to PyPI.

As for why it seems to hang when you do specify `-f something.json` I don't know.

[2022-01-04 21:09] #248 closed

[2022-01-05 23:37] jayraguda opened #393 "AttributeError: module 'mintapi' has no attribute 'Mint'"
Trying to  instantiate the Mint class via the docs in pypi.org and I'm getting this error.
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'mintapi' has no attribute 'Mint'`

[2022-01-06 03:17] burkematthew commented on #393
@jayraguda can you attach either your script without credentials or a snippet so we can get a better idea where the issue may lie?

[2022-01-06 20:06] jayraguda commented on #393
All I did was verbatim from the guide
`import mintapi
mint = mintapi.Mint(‘username’,’password’)`

…in the interpreter after having installed the package via pip3

[2022-01-07 15:28] jeremyehack commented on #388
@mrooney thanks for taking care of this, I was out of the country the past week and didn't have my laptop with me.

[2022-01-07 16:09] #343 closed

[2022-01-15 08:15] #353 closed

[2022-01-16 06:32] senorsmile commented on #387
I'm getting the same error.

For me:

1. Yes, I am able to get transactions from the cli, just not the api inside of python.  I haven't done much troubleshooting yet as I just started using mintapi today.
2. Yes, other requests like getting a list of accounts works fine.

[2022-01-21 08:22] kevko2020 commented on #343
Still having this issue on 1.57 with session_path=None

[2022-01-21 08:31] kevko2020 opened #395 "I'm having the same issue on 1.57"
I'm having the same issue on 1.57

_Originally posted by @hudcap in https://github.com/mintapi/mintapi/issues/343#issuecomment-982746061_

[2022-01-21 18:36] mrooney commented on #343
1.61 is the latest on pypi, so I'd recommend upgrading and try again!

[2022-01-21 18:36] mrooney commented on #395
1.61 is the latest release.

[2022-01-21 18:36] #395 closed

[2022-01-29 19:21] #383 closed

[2022-02-01 05:00] burkematthew commented on #376
Bumping this so it's not stale.

[2022-02-01 05:00] burkematthew commented on #89
Hi @sken77 just following up here.

[2022-02-03 16:22] mrooney commented on #376
The auto-changelog could be neat, I'd be happy to try that! The other ideas for auto-release seem neat, but add some complication/ambiguity around when to release, and I think it is already very easy for me to run the deploy.sh script in the repo :) I'll close this one but if I've misremembered and there's some way to get just a manual button that certain folks can press, that works for me.

[2022-02-03 16:22] #376 closed

[2022-02-03 22:33] burkematthew commented on #376
No problem!

[2022-02-07 03:56] kaovilai opened #400 "set/update property values"
It would be awesome to bypass integration limitations of mint if I could using a cron job query data from another data provider (varo Bank in my case) using other methods and via the API update the value associated with those unsupported accounts.

For a start, a simple property value update seems to be sufficient. At later stage could involve submitting transactions.

[2022-02-09 13:39] burkematthew commented on #400
@kaovilai thanks for reaching out. Am I correct that you are asking about using `mintapi` to update data within Mint?

[2022-02-09 13:56] kaovilai commented on #400
Yes.

I figured since the project already have connection pieces it won't be so bad

[2022-02-09 23:51] burkematthew commented on #400
@kaovilai the primary purpose of this project is to serve as a read-only interface with Mint. I'll defer on the final say to the original author @mrooney though.

[2022-02-09 23:53] kaovilai commented on #400
- Since property type isn't connected to any account, there's no risk of conflict. It's either set to a number or it's not. Hence that's where I'd want to start with.

Later it would be cool to be able to mark bills as paid, partially paid etc which are features of mint already.

[2022-02-10 21:23] mrooney commented on #400
Thanks for the comments! I view this project's intent as a read-only wrapper around Mint's website, but if someone came up with a clean PR in a separate API file, I'd definitely consider it!

[2022-02-10 21:23] #400 closed

[2022-02-19 02:59] zsolteszku commented on #387
I have similar problems as well and my assumption that this happens on the following screen:
<img width="425" alt="Screen Shot 2022-02-18 at 6 56 34 PM" src="https://user-images.githubusercontent.com/5071779/154783457-0230883e-f611-4eae-92a0-f4c77e043e63.png">

[2022-02-19 04:30] zsolteszku commented on #387
After debugging it a little bit more it turned out that the problem in my case was not the above mentioned page (although not sure whether we are supporting that as well or not) but that the login information was incorrect. Basically if there is an exception in the `login_and_get_token` then we log the exception, quit the driver and continue the execution. Next time if any method gets called on th

[2022-02-21 18:48] smolloy opened #403 "It would be *~awesome~* to be able to update the notes and tags on a transaction"
I am working on a personal project to sync my Amazon purchase info into the transaction notes for each transaction in Mint that is from Amazon so I can better sort them.  I would love a way to update the notes and labels/tags on a transaction.  Right now, it's just a scraping API, but if I could do updates, THAT would be FANTASTIC :)

[2022-02-22 04:23] timdau opened #404 "docker container fails with `--extended-transactions`"
**Describe the bug**
When running mintapi from the provided docker image with --extended-transactions it fails.

What version of MintAPI are you using?
ghcr.io/mintapi/mintapi                                 latest           0e29c480113c   3 weeks ago      1.56GB

What command[s] did you run / steps to reproduce?
Stacktrace/error received:
`docker run --rm --shm-size=2g ghcr.io/mintapi/mintapi min

[2022-02-22 19:50] mrooney commented on #403
Thanks! I certainly welcome any clean PRs to address this, but otherwise isn't in the scope/intentions of this project.

[2022-02-22 19:50] #403 closed

[2022-02-23 04:05] timdau commented on #404
If it helps, regular -t doesn't work either.  With or without the start date.

[2022-03-02 21:58] assumebreach opened #405 "mintapi logon issues - selenium can't find field to navigate authentication sequence"
mintapi invocation shows an exception:
Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="ius-userid"]"}

End of traceback:
selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="ius-userid"]"}

What version of MintAPI ->  v1.63 installed via pip

Code has been runni

[2022-03-03 01:45] ujjwalkrishna commented on #405
I am also getting the same issue `Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="ius-userid"]"}` on the login page.

[2022-03-03 02:54] smg247 commented on #405
Same for me. I don't think the issue is a changed element, but it seems that the wrong exception type is being caught in https://github.com/mintapi/mintapi/blob/main/mintapi/signIn.py#L315. It should be a `NoSuchElementException`.

[2022-03-03 03:34] reokatoa commented on #405
Experiencing the same issue, also with a system that has been running without incident or changes. Watching it operate, I can confirm the user name field does not get populated. Digging into the Mint login flow, it appears the field for the user name is named "ius-identifier".

mintapi version 1.59
Chrome version 98.0.4758.102

[2022-03-03 03:54] zsolteszku commented on #405
Here is a patch that solves the problem: https://github.com/zsolteszku/mintapi/commit/b96562f43f3837bc574ea48ac82d0e02a1221c31

I only published the fix on the new `dynamic-mfa-flow` branch though, so for that @burkematthew needs to merge the following 2 pull request to arrive to `main`:
1. https://github.com/burkematthew/mintapi/pull/6
2. https://github.com/mintapi/mintapi/pull/392

Or if we are

[2022-03-03 17:13] ianvanhoven commented on #405
Patch worked for me (in api.py, not signIn.py); thanks @zsolteszku

[2022-03-03 17:37] dzg opened #406 "no such element: Unable to locate element: {"method":"css selector","selector":"[id="ius-userid"]"}"
As of yesterday ...

**What version of MintAPI are you using?**
1.63

**What command[s] did you run / steps to reproduce?**
[code]

**Stacktrace/error received:**
[code]

[2022-03-03 23:28] burkematthew commented on #405
Hey everyone, thanks for your patience. Looks like some things might have changed on the Mint side. I'll take a look and the referenced PRs and go from there. I'll keep everyone posted!

[2022-03-03 23:31] burkematthew commented on #406
Hi @dzg ! It looks like this is a duplicate issue. Please see #405 for updates to this issue. To

[2022-03-03 23:31] #406 closed

[2022-03-03 23:53] Deepak-01 opened #407 "Maxretry issue"
Hey folks, I've been running into this issue for the past 2 days when attempting to get transactions. Does any one know if there's something I'm missing here? I am using a new laptop and I did install all the necessary libraries for this to work. I'm not a developer. I'm merely using this to make my life a little easier, so, I do beg pardon for any glaring mistakes I may have made.

`MaxRetryError

[2022-03-04 00:09] burkematthew commented on #407
Hi @Deepak-01 ! Thanks for the report. I believe the root issue here is related to the inability to find the element, similar to issue #405 . The max retry issue is a side effect of the failure in the other flow. We'll use the referenced issue as the primary tracker for this problem. If you still experience this issue after the fix, we'll reopen.

[2022-03-04 00:09] #407 closed

[2022-03-04 00:43] jcsacto opened #408 "Selenium Requests Error"
**Describe the bug**
A clear and concise description of what the bug is.
My normal daily script run stopped a few days ago, I noticed that possibly chrome driver updated so when through all of that to make sure I had the right driver working (confirmed as I have another selenium chrome script that works fine in the same directory).  Mint looked like it was going to start working, selenium chrome b

[2022-03-04 14:13] burkematthew commented on #405
Morning everyone! Just a heads up that I did look at this issue this morning and it seems there are some CSS related changes on the Mint sign in flow, hence the widespread issues reported here. I'm almost to a solution, just working through edge cases. Hopefully I should have this submitted by tomorrow. I'll post here with further updates!

[2022-03-04 19:23] wsilva-1 commented on #405
Looks like the field for user id (formerly "ius-userid") now has an id of "ius-identifier"

[2022-03-04 20:02] mrooney commented on #408
Thanks! Did you by chance take a look at recently filed issues like https://github.com/mintapi/mintapi/issues/405 to see if that might the same?

[2022-03-04 20:24] jcsacto commented on #408
@mrooney  According to the Discord channel it sounds like they might all be related to the new CSS changes, but I will not know until that part is fixed I guess since I seem to get a selenium server error.  I will update once I hear that other issue is addressed.  Thanks!

[2022-03-05 15:54] #405 closed

[2022-03-05 15:54] #408 closed

[2022-03-06 16:47] Deepak-01 commented on #406
@burkematthew - I see that this issue was marked as resolved. However, it appears that I'm still having trouble with it. Do I need to uninstall and reinstall mintapi through the terminal for the changes to take effect?

[code]

[2022-03-06 16:48] burkematthew commented on #89
Hi @sken77 just following up here.

[2022-03-06 19:29] timdau opened #412 "ImportError: cannot import name 'ChromiumEdge' from 'selenium.webdriver'"
**Describe the bug**
When running mintapi it errors out with `ImportError: cannot import name 'ChromiumEdge' from 'selenium.webdriver'`

What version of MintAPI are you using?
1.64
What command[s] did you run / steps to reproduce?
mintapi -h
Stacktrace/error received:
`# mintapi -h
/usr/lib/python3/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4

[2022-03-06 19:35] dzg commented on #405
It's working, thank you!

[2022-03-06 19:40] timdau commented on #412
Work around: upgrade selenium
You get the following error, but it starts working again.

`ERROR: mintapi 1.64 has requirement selenium<4.0.0, but you'll have selenium 4.1.2 which is incompatible.`

Confirmed this works in the docker image but it still has the error in #404.

[2022-03-06 20:02] timdau commented on #404
Using the latest docker image and upgrading selenium changes the behaviour:

`+ /home/seluser/.local/bin/mintapi $username $password --use-chromedriver-on-path --headless --extended-transactions --start-date 03/05/22
Traceback (most recent call last):
  File "/home/seluser/.local/bin/mintapi", line 8, in <module>
    sys.exit(main())
  File "/home/seluser/.local/lib/python3.8/site-packages/mintapi

[2022-03-06 20:05] mrooney commented on #406
Hi @Deepak-01 ! You need to upgrade to mintapi 1.64 however you installed it. Probably `pip install --upgrade mintapi`

[2022-03-06 22:52] Deepak-01 commented on #406
That fixed it. Thanks a lot!

[2022-03-07 14:48] hudcap opened #413 "Selenium version 4"
https://github.com/mintapi/mintapi/blob/31a37db438358e356ff621a1485a719cb6428772/setup.py#L26

This is creating a dependency issue for me. I can solve it, but is there a reason for this constraint?
It came from https://github.com/mintapi/mintapi/pull/390, which has the following note:

selenium_requests now supports selenium 4.1.0 as of this commit: https://github.com/cryzed/Selenium-Requests/comm

[2022-03-07 18:26] mrooney commented on #413
This looks like the same as #412 ?

[2022-03-07 18:34] hudcap commented on #413
Same solution, although that wasn't the error I was getting. I use mintapi in an environment where I use selenium for other purposes and I had the requirement set to version 4. Until now, I think it was keeping me on an older version of mintapi to satisfy that, but now I required 1.64 to get all the fixes you just pushed (THANK YOU!) and got a dependency resolver error.

[2022-03-08 20:32] #413 closed

[2022-03-08 21:45] #412 closed

[2022-03-09 16:08] sooth opened #417 "Message: unknown error: session deleted because of page crash"
**Describe the bug**
Login fails

**What version of MintAPI are you using?**
root@dev2:~/mintapi# pip3 list | grep mintapi
mintapi                1.64

**What command[s] did you run / steps to reproduce?**
root@dev2:~/mintapi# python3 mintapi --transactions --filename transactions.csv --headless username password

**Stacktrace/error received:**
`Message: unknown error: session deleted because of p

[2022-03-09 19:02] eroma934 opened #418 "Unable to locate element javascript-user"
Using mintapi 1.64, I'm running into an issue where the API call seems to be hanging after the login. The selenium flow is working since it's triggering a Chrome window and successful login. It just gets caught up after I'm logged in. Even though all the accounts synced I let it run ~10 min before I killed it to see if that might be the cause.

Not sure if this is related to the website update and

[2022-03-10 00:46] burkematthew commented on #418
Hi @eroma934 , thanks for reporting! This appears to describe the issues we've been tracking in Discord. Mint changed its flow and we've had to rework some of the key aspects of the flow. Some of which have been corrected already, but there is at least one still outstanding related to how we fetch the token. We will keep you posted as we have progress.

[2022-03-10 00:48] burkematthew commented on #417
@sooth your original title is consistent with an issue that we're aware of and working on. Is that still what's going on for you?

[2022-03-10 01:37] sooth commented on #417
I get a different error message depending on how I call the program, but yes I can reliably reproduce the original error message as well.

[2022-03-10 13:25] burkematthew commented on #417
@sooth I'm going to close this one out then and track progress of the fix on #418 .  If you continue to have issues after we identify the fix for that issue, we can reopen this.  However, I do anticipate it's the same issue.

[2022-03-10 13:25] #417 closed

[2022-03-10 13:26] burkematthew commented on #418
@sooth just tagging you here for visibility.

[2022-03-10 14:54] sooth commented on #418
Thanks man!

[2022-03-10 17:52] pisakhov opened #419 "Multifactor Code Requested On Subsequent Runs Even With Session Path"
Hey Everyone!

Ubuntu 20.04.4 LTS (GNU/Linux 5.13.0-1017-aws x86_64)
Python 3.8.10
ChromeDriver 99.0.4844.51 (d537ec02474b5afe23684e7963d538896c63ac77-refs/branch-heads/4844@{#875})
mintapi                  1.64

`mint = mintapi.Mint(
    '####@#####.com',
    '########',
    mfa_method='sms',
    mfa_input_callback=None,
    mfa_token=None,
    intuit_account=None,
    headless=True,
    session_

[2022-03-19 02:40] atkaiser opened #424 "initiate_account_refresh makes incorrect call to make_post_request"
**Describe the bug**
[code]

What version of MintAPI are you using?
The master branch as of March 18th ( https://github.com/mintapi/mintapi/tree/f0d0f4dee959edaf3bfd60f6c18f8a8766fa4e86 )

What command[s] did you run / steps to reproduce?
[code]

Stacktrace/error received:
See the bug description

**Additional context**

It looks like the merge of https://github.com/mintapi/mintapi/pull/421 update

[2022-03-19 03:15] burkematthew commented on #424
Hi @atkaiser and thanks for the report. The main branch is currently in progress as we work out resolutions to the changes necessary due to Mint's new UI. For the time being, if you still have the old Mint UI, I'd recommend just using the latest version on PyPi (1.64) until we can resolve these issues.

[2022-03-19 21:21] champbronc2 opened #426 "Login hangs after 2FA code entered"
Regardless of headless or not, after logging in successfully, the CLI will hang.

What version of MintAPI are you using?
Latest version of main ([7066588](https://github.com/mintapi/mintapi/commit/7066588ab1b305948b093b196ac4650237c28599))

What command[s] did you run / steps to reproduce?
CLI

Stacktrace/error received:

[code]

Using macOS

[2022-03-20 20:08] mrooney commented on #426
Can you please include the commit or version number? "Latest version of main" is not super helpful as new commits come in :)

[2022-03-21 12:15] champbronc2 commented on #426
Thanks for the reply @mrooney , commit [7066588](https://github.com/mintapi/mintapi/commit/7066588ab1b305948b093b196ac4650237c28599)

[2022-03-22 02:37] bfongbfong commented on #387
After upgrading to 1.64, it seems to be working for me again. thank you!

[2022-03-22 02:37] #387 closed

[2022-03-22 13:33] MikeVezina opened #428 "Login Hangs Due to Unexpected Page"
Describe the bug

Login hangs due to 'Sign in the same way you unlock your device' screen which shows up after MFA code entry (see attached image). Even after setting a session directory and clicking 'Skip for now', it prompts me again on the next login. This just causes the login to hang.

What command[s] did you run / steps to reproduce?

[code]

Additional context
Image:
![image](https://user-i

[2022-03-22 13:35] MikeVezina commented on #426
@champbronc2 not sure, but this may be related to the issue that I just created: #428, which also hangs after MFA.

When running with the browser (headless=False), does it get stuck on the same screen as shown in the issue above?

[2022-03-29 15:23] #418 closed

[2022-03-30 15:23] josjaf opened #435 "Is there a way to better improve link between investment and account data?"
I'm using Mint 1.65 and I noticed that the old method for getting a list of all your investment positions is going to be deprecated, so I switched the new method from the get_invests_json method.

I'm noticing that the dictionary keys are totally different, which is breaking all of my code, but the weirdest thing is that the account ids are now different and sometimes the same position in the same

[2022-03-30 15:26] josjaf commented on #435
`len([i['accountId'] for i in mint.get_investment_data()])` shouldn't be equal to the length of the investments list

[2022-03-30 17:30] burkematthew commented on #435
@josjaf we're really just making a call to the Investments endpoint and returning the data back to the enduser. We're not doing any sort of data manipulation. The transition to the new endpoint is part of the support for the new UI.

[2022-03-31 00:02] josjaf commented on #435
Yeah that's fair, I figured that was case. This breaks my use of mint - there's no way for me to match a position / holding to an account. I can't figure out what positions are taxable / non taxable, etc.

[2022-03-31 00:05] #89 closed

[2022-03-31 03:08] burkematthew commented on #435
@josjaf I will see what I can do and find that may help you out here. It may not be a quick turnaround as we're trying to get the new major version out. But we'll see what can be done to assist here. Thanks for the report!

[2022-03-31 14:21] cobbmic opened #437 "Pending transactions are shown -- "show_pending" attribute is causing error"
This is probably just a mistake on my end. But I use mintapi to pull transactions and format them for my ledger-cli files. However, it is pulling in pending transactions. 95% of the time, that's not a problem. But with transactions at restaurants or coffeeshops where I leave a tip, the tip is often not included in the amount when it is pending. It is corrected when the transaction clears.

So I do

[2022-03-31 14:46] burkematthew commented on #437
@cobbmic thanks for the report! That method is actually about to be removed with the new major version of 2.0. That being said, the new `get_transaction_data` method that handles all transaction related requests does expose that option regardless of CLI or your own script. If you have the new UI from Mint, you can work off of the main branch of the repo instead of the installed version of PyPi to

[2022-03-31 14:53] burkematthew commented on #426
@champbronc2 can you pull the latest from main and see if this fixes your issue?

[2022-03-31 15:26] #437 closed

[2022-03-31 15:26] cobbmic commented on #437
Awesome!

[2022-04-01 15:15] burkematthew commented on #197
@BrendanJM can you pull the latest from main and see if this is resolved? Last I checked, the linked property and accounts seemed to be working with the new endpoint.

[2022-04-01 15:21] burkematthew commented on #256
@theurgi I'm going to close this one as a duplicate. Please follow #344 for updates related to this request.

[2022-04-01 15:21] #256 closed

[2022-04-01 15:33] mrooney opened #440 "exception catching should be cleaned up and unified"
Just placing this here for tracking, I'm happy to tackle. I just noticed there's a couple places where we do:

[code]

and this could probably be abstracted to variable. There are also other places where we catch 2 or 3 of these, and maybe this should include all 4 as well?

[2022-04-01 15:46] burkematthew commented on #440
@mrooney great idea! I actually started doing some of that in the login flow PR.

[2022-04-01 19:31] sparky2708 opened #441 "Can't seem to get past the "sign-in without a password next time" page"
**Describe the bug**
This library works great if it doesn't run into the "sign-in without a password next time" page:

![image](https://user-images.githubusercontent.com/11505646/161329067-67c219c3-5b5d-4797-b618-392000afeda9.png)

What version of MintAPI are you using?
Name: mintapi
Version: 1.65
Summary: a screen-scraping API for Mint.com
Home-page: https://github.com/mintapi/mintapi
Author: Mic

[2022-04-01 19:33] sparky2708 commented on #441
Running on Windows 10

[2022-04-01 19:39] sparky2708 commented on #441
Sometimes it also looks like this:

![image](https://user-images.githubusercontent.com/11505646/161330576-824be7b6-460d-4bf5-8c9e-67292d0e909b.png)

[2022-04-01 21:48] burkematthew commented on #441
@sparky2708 this will be addressed in the next major version. If you run off of the main branch of the repo instead of off PyPi, you will have this situation handled.

[2022-04-01 21:48] #441 closed

[2022-04-02 02:57] sparky2708 opened #442 "Use Async/Await in all methods in Mint client"
**Describe the bug**
Make all public methods async/await so they don’t block while they’re running as they take a very long time to run

[2022-04-02 03:47] BrendanJM commented on #197
I'm not really using mint or mintapi at this time, so I might not be the best person to confirm the fix. If it appears resolved to you, feel free to close this out.

[2022-04-02 11:54] #197 closed

[2022-04-02 18:42] burkematthew commented on #88
@felciano can you see if the latest on main meets your needs for exporting accounts to CSV?  Keep in mind that `--extended-accounts` is no longer necessary, so you can just specify `--accounts`.

[2022-04-02 21:24] mrooney commented on #442
I would imagine the average use case wants to wait for the results, don't you think? If a user wants to keep doing other stuff, can't they wrap the call in an async manner to accomplish this use case?

[2022-04-02 22:19] sparky2708 commented on #442
I am using it with discord bot and mintapi blocks the current thread which makes discord api think the bot is dead since the bot is not acking ping requests. I am using executor to get around this but it would be nice if the methods were asynchronous so discord can do its thing.

Also, I see that you do a lot of requests e.g. when you setup a connection and get budgets. You could execute all those

[2022-04-03 03:01] burkematthew commented on #442
At the moment, we (for the most part) only support one data type at a time, though opening that up is on the roadmap and should be coming soon. I'll certainly keep this request in mind when implementing that and see what makes sense.

[2022-04-03 03:23] sparky2708 commented on #442
Thanks it would be great! I just saw about 50 POST requests happening when connecting and asking for budgets. Thought async/await and parallelism would definitely help there as they didn’t seem to require being run synchronously but all I was seeing was the DEBUG logs so could be wrong… was just an observation…

[2022-04-03 11:57] burkematthew commented on #442
@sparky2708 well, what you are probably seeing is what is happening behind the scenes when Mint logs in and takes you to the homepage. Mintapi itself is not actually overloading with calls at all. It's really just log in and then the specific request, like for budgets.

There is also the refresh step that occurs, so depending on if you want to wait for refresh or not, you could potentially skip th

[2022-04-04 01:46] sparky2708 opened #444 "Cannot read properties of undefined (reading 'appExperience')"
**Describe the bug**
 Cannot read properties of undefined (reading 'appExperience')

What version of MintAPI are you using?
straight from main

What command[s] did you run / steps to reproduce?
mintapi.Mint(...)

Stacktrace/error received:
Error: Message: javascript error: Cannot read properties of undefined (reading 'appExperience')
  (Session info: chrome=100.0.4896.60)
Stacktrace:
Backtrace:

[2022-04-05 02:54] mrooney commented on #444
"straight from main" Please include the actual commit sha is using from source; this is not helpful in a bug report as soon as a new commit is made after your report.

[2022-04-05 23:02] #254 closed

[2022-04-05 23:02] #291 closed

[2022-04-05 23:13] burkematthew commented on #424
@atkaiser can you check out the branch linked here and see if that resolves your issue?  Thanks!

[2022-04-05 23:14] burkematthew commented on #393
@jayraguda are you still experiencing this issue?

[2022-04-06 04:44] jayraguda commented on #393
Nope! I will close the issue now.

[2022-04-06 04:44] #393 closed

[2022-04-06 14:22] atkaiser commented on #424
Looks good, tried to run the code snippet I put in the bug using your branch and didn't see any errors.  Checked that my accounts got refreshed and it looked like the did.  Thanks!

[2022-04-06 18:14] mrooney commented on #424
Thanks for the confirmation!

[2022-04-06 18:14] #424 closed

[2022-04-09 23:57] pisakhov commented on #419
![image](https://user-images.githubusercontent.com/64985264/162595385-9f321c7f-83c1-49ee-a4b2-fa76e5125711.png)

I turned off headless and tried to find out more about this problem.

It saves the session, but instead of going to the account I logged in to before (xxxx@gmail.com), it goes to the 'Use a different user ID'.

Note: I added to intuit_account='' and it still goes to the 'Use a different

[2022-04-10 15:22] sooth commented on #426
With version 1.66 I still experience this

[2022-04-14 00:18] #88 closed

[2022-04-21 22:32] luigi311 opened #453 "list index out of range for mfa_result"
**Describe the bug**
When on the mfa page it will error out after a few seconds with the following error
[code]

What version of MintAPI are you using?
2ae42d00560dfdad5780866b53a099503fe861ad
What command[s] did you run / steps to reproduce?
Install mintapi via
[code]
run the mintapi with the following configuration
[code]
Since headless is False it will open the chrome window and proceed to v2 o

[2022-04-23 03:23] burkematthew commented on #453
Hi @luigi311 thanks for the report! We believe this is a bug and will work on getting it fixed up. We'll keep you posted!

[2022-04-23 14:28] #453 closed

[2022-04-23 14:38] #344 closed

[2022-04-23 18:37] luigi311 commented on #444
I am getting the same error when calling get_account_data()

Installed via
pip install git+https://github.com/mintapi/mintapi.git@bc6e78c9be6aaa91266bc58d3189c46857f53af4

[2022-04-24 17:05] mrooney commented on #444
Can you try the latest from main?

[2022-04-24 20:17] felciano commented on #344
@burkematthew this looks very promising -- can't wait to try it out. The README says this capability is available as of "version 2.0", but the mainline still looks like it is 1.67. Is v2.0 available elsewhere or is a version bump forthcoming?

[2022-04-24 21:31] luigi311 commented on #444
I did try the latest from main. bc6e78c9be6aaa91266bc58d3189c46857f53af4 is the latest main commit as of this comment still.

[2022-04-25 17:14] mrooney commented on #344
@felciano we have not yet released a final 2.0, but you can always try it out from github if you want to test ahead of time :)

[2022-04-25 17:16] dzg opened #456 "Connection not working"
Trying to connect via `mint=mintapi.Mint` just hangs ... no errors, no warning. How to diagnose?
It was working until a few days ago.

If I run without `headless`, Chrome opens and successfully logs in to Mint. But python just hangs.

I noticed my Mint is on the "new UI" ... and not seeing a way to switch back. Is that an issue?

**What version of MintAPI are you using?**
1.66
ChromeDriver = 100.0

[2022-04-25 18:38] dzg commented on #456
Apparently 1.66 doesn't support new UI. Closing and trying 2.0

[2022-04-25 18:38] #456 closed

[2022-04-25 18:41] dzg opened #457 "get_net_worth() not working"
Using the "2.0 (Pending)" version:
[code]

FWIW, `mint.get_account_data()` works fine.

[2022-04-25 21:11] felciano commented on #444
@mrooney FWIW I just tried installing [bc6e78c](https://github.com/mintapi/mintapi/commit/bc6e78c9be6aaa91266bc58d3189c46857f53af4) into a fresh env and am seeing the same error.

In case it matters, my installation process was:

- download the latest repo as a `.zip` via GitHub web UI
- expanded the resulting `mintapi-main.zip` file
- run `poetry add ./mintapi-main` to install the package and dep

[2022-04-26 16:30] gerber55555 opened #458 "Mint Initialization not working"
**Describe the bug**
Mint Initialization hangs after login, non-headless version shows login successful, but it never moves on to next step.

What version of MintAPI are you using?
1.66

What command[s] did you run / steps to reproduce?
on cmdline:
`mintapi --keyring <email> --use-chromedriver-on-path `

in python
[code]

Stacktrace/error received:
None

**What did you expect to happen?**
Expectat

[2022-04-26 16:55] gerber55555 commented on #458
Apparently there is a new version of Mint that they are working on to support. If you pull the repo and build it locally you will be able to use it. Keeping this issue open until new version is released however.

[2022-04-27 00:16] burkematthew commented on #457
Thanks @dzg !  Getting this fixed up.

[2022-04-27 01:41] nickodell commented on #458
@gerber55555 Do you have this working? If so, which branch do you have working on? I tried branch main, at commit bc6e78c, and I ran into this error:

[code]

I'm not exactly sure why this method was removed - it's still mentioned in the README. It looks like it was removed as part of a refactor in PR #430.

Is get_account_data() the replacement for the old get_accounts()?

[2022-04-27 03:29] gerber55555 commented on #458
@nickodell Yes I got it working, I pulled the same branch and commit as you. And it seems like get_account_data() is the replacement for get_accounts(), which provided the data I needed. I'm not sure why it was changed either.

[2022-04-27 17:38] #457 closed

[2022-04-27 17:47] dzg commented on #457
#459 fixes `cli.py` ... what about `api.py` ?

[2022-04-28 19:48] dzg opened #461 "Geico account has no `currentBalance`, breaks `get_net_worth()`"
Sorry, didn't see how to reply without closing the PR.

_Originally posted by @burkematthew in https://github.com/mintapi/mintapi/issues/460#issuecomment-1112111664_

It's needed cuz it doesn't work, see #457 

Fixed in #460

On my end it's one account, "Geico" :

[code]

[2022-04-29 03:31] burkematthew commented on #461
@dzg this is super helpful context, thank you! Didn't realize InsuranceAccount was a type.

[2022-04-29 03:35] #461 closed

[2022-04-29 04:11] mrooney commented on #458
@burkematthew do you think it would make sense to write a wrapper method so folks can still use `get_accounts()`? Backwards imcompatible changes seem fine if super helpful, but this might confuse a bunch of folks? Or maybe we just need to document it in the CHANGELOG.

[2022-04-30 12:15] burkematthew commented on #458
@mrooney I missed making the changes in the README, which is part of the confusion.

One of the reasons I felt it was helpful to break the names is that each method has different input and very likely different outputs. By "breaking" the old method, we force users to take a look at the new input and the structure of the new output instead of them going through trial and error on what changed to ma

[2022-04-30 12:16] burkematthew commented on #444
@luigi311 @felciano do y'all have the old or new UI?

[2022-04-30 12:17] burkematthew commented on #426
@sooth can you outline here what you see in non-headless mode. That will give us context as to where your flow is hanging.

[2022-04-30 12:18] sparky2708 commented on #444
How do you tell if you have the old or new UI?

[2022-04-30 13:18] nickodell commented on #458
@burkematthew Thanks, that makes sense. If the data being returned is changing, then maybe it doesn't make sense to provide it under the same name.

[2022-04-30 13:36] burkematthew commented on #458
@nickodell the data is obviously pretty similar but there are definitely differences.

[2022-04-30 13:36] burkematthew commented on #444
@sparky2708 what side is the navigation bar on the main menu?

[2022-04-30 15:43] sparky2708 commented on #444
Overview, etc. is on the top and “Accounts” is on the left

[2022-04-30 15:55] burkematthew commented on #444
@sparky2708 yes you have the old UI, which explains the error you're receiving. Until your account migrates to the new UI, you will have to run off of PyPi or locally off of the 1.66 branch.

[2022-04-30 17:44] mrooney commented on #458
@burkematthew oh right, if the data is different, I like that approach. As long as it is documented in the 2.0 changes that sounds great!

[2022-04-30 21:10] burkematthew commented on #458
@mrooney I'll do some fixing up of the README and also make sure that it's addressed in the release summary.

[2022-05-01 14:10] burkematthew commented on #458
Morning everyone! I just opened #462 to fix the README issues we discussed and then also do a more explicit callout in the CHANGELOG.

[2022-05-01 17:23] sooth commented on #426
I no longer hang, I crash when running from main. Here's my login flow:
<img width="792" alt="mint1" src="https://user-images.githubusercontent.com/1765148/166157042-e6b30596-9c17-4faa-8b1d-d9fad4bfdd38.png">
<img width="792" alt="mint2" src="https://user-images.githubusercontent.com/1765148/166157045-45d45da2-4f73-4055-a329-dce31b05e9cd.png">
<img width="792" alt="mint3" src="https://user-images.

[2022-05-01 17:28] burkematthew commented on #426
@sooth the robot screen is probably what's causing the hanging issue. Also, the verification selection screen has an issue on main that an open PR fixes.

[2022-05-01 17:40] sooth commented on #426
I don't get it, I'm asked for robot and 2fa each and every time. I have session path set but it always asks. So frustrating, never had this before.

[2022-05-01 18:22] burkematthew commented on #426
@sooth there is another issue out there about session path not saving the MFA.

And I think the new UI has included some stronger bot detection based on what I've seen in some other reports.

[2022-05-03 11:18] burkematthew commented on #435
Once V2 comes out, I'll have a chance to take a look at this.

[2022-05-04 20:00] luigi311 commented on #444
Mine is at the top and i still receive the same error using 253a44e4b11d8b16ff45a3aa0faa4bed27032612

[2022-05-05 04:14] mrooney commented on #458
Thanks, glad you got it working! We consider an issue closed once a fix has been merged to `main`, so I'll close this out for now, but please let me know if you are running into any other issues.

[2022-05-05 04:14] #458 closed

[2022-05-05 14:41] burkematthew commented on #444
@luigi311 yes with the nav bar on the top, that means you're on the old UI, so I'd anticipate this issue.

[2022-05-05 15:38] luigi311 commented on #444
Gotcha i figured i was on the new one since i was getting captcha. How does the new UI look?

[2022-05-05 18:39] mrooney commented on #444
This is now covered in the [README](https://github.com/mintapi/mintapi#important-mintapi-20-vs-1x), if that doesn't address it let me know any language suggestions to make it clear :)

[2022-05-05 20:11] luigi311 commented on #444
Ahh i see i got confused reading the @sparky2708 response that you said was the old version. He said overview was at the top and accounts on the left. I took it to mean he had everything on the left with overview being the first button at the top left corner and the rest under that on the left side. Ok that makes more sense then.

[2022-05-05 22:23] sparky2708 commented on #444
How do I enable the new UI?

[2022-05-05 22:24] luigi311 commented on #444
You cant. Mint assigns it randomly to people to use the new UI vs the old UI

[2022-05-11 16:51] dzg opened #467 "Multi-Data Support? Huh?"
Can someone explain [this?](https://github.com/mintapi/mintapi#multi-data-support)
How do I get "multiple types of data in one call to mintapi"?

[2022-05-11 17:19] dzg opened #468 "`mint.get_credit_score_data()` throws error when outputting to CSV"
[code]

What version of MintAPI are you using?
2.0

[2022-05-11 17:49] mrooney commented on #467
It means you can pass multiple arguments for the data you want, instead of just one, and it can write out multiple files. Perhaps we need an example call there :)

[2022-05-11 19:04] dzg commented on #467
Yes an example would be super
Thanks!

[2022-05-11 21:02] #442 closed

[2022-05-12 11:21] burkematthew commented on #468
Thanks @dzg ! We'll take a look and see what's going on.

[2022-05-12 12:15] burkematthew opened #469 "Does referencing `beta.mint.intuit.com` allow users to manually use the new UI?"
One user pointed out that if they went to `beta.mint.intuit.com` they could get to the new UI despite normally on the old UI. I want to see if we can bake in a way to route to the beta site if the old one is still active for a user.

[2022-05-12 18:26] mrooney commented on #469
Wow, that's a clever idea!

[2022-05-13 06:39] chino commented on #444
PyPi as in the version from pip?

I just upgraded to latest pip which appears to be version 2.0 and now running into this issue (I'm on the old UI).

[2022-05-13 17:10] mrooney commented on #444
Hi @chino ! At the time of that comment, 1.66 was the latest on pip, but now 2.0 is there. Since you have the old UI, you'll want to install 1.66 from pypi/source OR give [this PR](https://github.com/mintapi/mintapi/pull/470) a shot to force the new UI!

[2022-05-13 23:59] burkematthew commented on #468
@dzg so it looks like what was previously only failing for `--headless` mode is now failing regardless.  We had this logged previously under https://github.com/mintapi/mintapi/issues/349.  The credit-related information is coming from a separate base URL within Mint.  It looks like they may have tightened up some authorization handling at this URL.  What I'm going to do is close this issue as a du

[2022-05-14 00:05] burkematthew commented on #468
That being said, there is another issue when pulling credit score data to CSV.  The following errors occurs:

[code]

I'll get this fixed.

[2022-05-15 20:22] mrooney commented on #467
@dzg let me know if #471 seems sufficient!

[2022-05-16 04:06] #468 closed

[2022-05-16 11:55] #467 closed

[2022-05-17 11:08] CalvinChanCan opened #473 "Login causes too many attempts and 15 minute timeout"
**Describe the bug**
When setting beta to true, login seems to cause mint to timeout attempts for 15 minutes.

![image](https://user-images.githubusercontent.com/13265811/168797233-23f5cd9b-fd94-4e63-bcc1-62f8e8591937.png)

`mintapi.Mint(email=mint_username, password=mint_password, beta=True)`

What version of MintAPI are you using?
Latest Commit: 2d3c169

What command[s] did you run / steps to re

[2022-05-17 16:49] burkematthew commented on #473
@CalvinChanCan a couple questions.

1. Does it ever get past the password?
2. Which MFA method do you use?

[2022-05-17 23:21] CalvinChanCan commented on #473
@burkematthew sure!

1. It doesn't get past the password. Upon failing, it sometime either gives the message of how much longer the timeout is or that the password is incorrect. Then it will continue to append to the password field and entering again.
![image](https://user-images.githubusercontent.com/13265811/168927679-33650fab-8017-44d9-8e94-04673e1f2545.png)

2. I left the MFA method empty but

[2022-05-18 00:57] burkematthew commented on #473
@CalvinChanCan thanks for the responses!

If it doesn't get past the password, then it wouldn't get to MFA yet.

A

[2022-05-18 01:50] CalvinChanCan commented on #473
@burkematthew no worries!

Fair question but yes, I even tried hard coding my username and password to make sure I didn't enter it wrong.

In signIn.py on line 360, I receive the message "Too many invalid attempts, account is locked out for 15 minutes." when the count is 0 (i.e. on the first try).

Some additional context but here's the login URL: https://accounts.intuit.com/index.html?offering_id

[2022-05-18 17:27] mrooney commented on #473
Thanks! You mentioned you tried hard-coding the password but it failed on the first attempt as your account is locked, so that doesn't tell us too much, as the right password won't work in that case either. Have you tried again since with the hard-coded password and verified what happens on the first login attempt?

[2022-05-28 03:05] CalvinChanCan commented on #473
Sorry for the late response. But after on the first login attempt, it tries to enter the correct password but somehow it fails and says its the wrong password. Then with the password field still filled it, it will append to the previous password and fail again until the lock out occurs.

[2022-05-28 04:43] felciano opened #475 "Are `extended-accounts` and `extended-transactions` still supported?"
**Describe the bug**
When calling `mintapi` 2.1 from the command line with `--extended-accounts` as a parameter, you get this error:
[code]
Is this switch still available? The README says it is present but the inline help doesn't, so this may just be a documentation big.

[2022-05-28 04:49] felciano commented on #475
On a related note, has the `--extended-transactions` option been removed in 2.x?

[2022-05-29 01:28] burkematthew commented on #475
@felciano you are correct. We moved to reflect the API contract of Mint by having one transactions endpoint that mirrors Mint's endpoint and one accounts endpoint that mirrors Mint's endpoint. That being said, you're right that a clarification in the CHANGELOG would be helpful. That was missed in the midst of all the other changes. We can get that added.

[2022-05-29 15:24] mrooney commented on #473
If it says it's the wrong password, it's almost definitely the wrong password. Can you log in manually with the same password you are hard-coding?

[2022-05-29 15:40] mrooney commented on #475
I think I got that covered at https://github.com/mintapi/mintapi/pull/477, let me know if you were seeing it anywhere else @felciano :)

[2022-05-29 17:43] timdau commented on #404
I guess this should be closed because --extended-transactions is no longer supported.

[2022-05-29 17:43] #404 closed

[2022-05-29 21:36] CalvinChanCan commented on #473
Hi @mrooney ,

To clarify, I believe I am using the correct username and password.

When trying to use the beta, I'm using:
`mintapi.Mint(email='someemail', password='somepassword', beta=True)` but mint gives me strange behavior that the password is not recognized. I even tried using the same selenium chrome session to click "Email a code to ****" button to log in but get the error `It looks like

[2022-05-30 17:53] haritn opened #478 "Can't sign in - The Multifactor Method sms supplied is not available"
Getting this exception for past few days consistently while logging in.

The Multifactor Method sms supplied is not available.
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\mintapi\signIn.py", line 572, in set_mfa_method
    mfa_result[SELECT_CSS_SELECTORS_LABEL]
  File "C:\Users\user\Anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 5

[2022-05-30 19:54] burkematthew commented on #475
@mrooney your PR definitely helps remove some of the confusion. That being said, it might be helpful to more prominently and explicitly mention in the CHANGELOG that we removed these two options to match the API contract of Mint.

[2022-05-30 19:56] burkematthew commented on #478
@haritn are you submitting an MFA method to the Mint object? If so, please try removing that (no longer needed in V2) and see if you get different results.

[2022-05-30 21:39] mrooney commented on #404
Thanks! Let me know if https://github.com/mintapi/mintapi/pull/477 addresses any docs concerns.

[2022-05-30 22:55] haritn commented on #478
I am not and still getting this error.  I am simply copying and pasting the code from the readme file below. Are you suggesting I turn off the mfa?
``
import mintapi
  mint = mintapi.Mint(
    'your_email@web.com',  # Email used to log in to Mint
    'password',  # Your password used to log in to mint
    # Optional parameters
    mfa_method='sms',  # See MFA Methods section

[2022-05-30 23:24] burkematthew commented on #478
@haritn based on what you sent, it does look like you are passing an MFA method of SMS. I'd imagine that's the issue here. MintAPI detects which MFA method should be used based on what Mint presents to the user. The only time you need to pass one is if you get the screen at login asking which MFA method you want to use.

[2022-05-30 23:39] felciano commented on #475
Honestly I think these changes are big enough and backwards incompatible that it would be worth highlighting further in the README, as well as maybe having a separate piece of documentation that describes the changes in more detail. I'm in the midst of a pretty serious migration for my scripts, so would be happy to share my learnings (e.g. field mappings before to after, etc). Maybe a wiki page?

[2022-05-31 21:28] mrooney commented on #475
@felciano awesome! If you want to submit anything to improve that docs that is super welcome. It is the top section of the README, which says to refer to the CHANGELOG for more info, and we tried to be very thorough on the 2.0 section. That said, certainly we welcome improvements. Closing this one for now based on #477 , but feel free to open an issue / PR for the general docs updates.

[2022-05-31 21:28] #475 closed

[2022-06-03 19:15] Deepak-01 opened #479 "get_transaction_data() returns list instead of dataframe"
I upgraded to mintAPI version 2.0  and get_transaction_data() now returns a list instead of a dataframe. The comments suggest that that shouldn't be the case. Is there something i'm missing here that is causing this issue?

[2022-06-04 15:06] gabefortin commented on #479
I am getting the same behaviour in version 2.1.

[2022-06-04 23:12] KOEPKEJR opened #481 "Unable to find corresponding information to merchantId returned in get_transaction_data call"
Version 1.x returned a 'merchant' column which could be filtered.  The column was human readable and had values such as 'Target'.  The 2.x dataset no longer has the 'merchant' column but does have a potentially useful 'merchantId' column.  There is a 'description' field that has similar data but doesn't appear to be as static as the previous 'merchant' field.

Is it possible that a merchant end-po

[2022-06-05 02:34] burkematthew commented on #479
@Deepak-01 this is just a documentation issue. This is expected behavior in V2.

[2022-06-05 04:19] mrooney commented on #479
I think this is mentioned in the CHANGELOG: https://github.com/mintapi/mintapi/blob/main/CHANGELOG.md. Any feedback welcome on a better place or wording for this!

[2022-06-05 04:19] #479 closed

[2022-06-08 15:57] felciano opened #483 "Enhancement: flag or exit code if timeout"
On occasion (see #154), `mintapi` still prints out
[code]
which seems related to something on the server side. Other than this message, there doesn't appear to be a way to tell whether the operation has completed successfully or not. Would it be possible to return a different exit code or provide some sort of machine-parseable result to indicate scenarios when the output data may not be correct /

[2022-06-09 21:58] felciano commented on #483
I suspect a JSON error response would eventually be a good idea, but you are right that the CLI UX is non-obvious if you are requesting data in a given serialized format.

My thinking is that the non-zero exit code would be a minimum implementation, because a calling shell script could at least try some simple error handling (e.g. retry or exit), rather than proceeding as if everything is OK.

[2022-06-11 19:20] pisakhov commented on #419
SOLVED!

I had my one email associated with two different usernames.
one username was old with Turbotax, the second was with mint.
I separated those two accounts with two different emails and now it works.

[2022-06-12 03:28] burkematthew commented on #419
@pisakhov awesome! That actually makes sense considering that happens for me too and that's my setup as well. That being said, I think it'd be good for us to add a section to the README that mentions this caveat.

[2022-06-12 15:53] dsteiner10 opened #485 "V2.1 get_transaction_data() not isolating a single account when passing an id"
Version 1.x allowed for getting transactions from a single account.  It appears that get_transaction_data() accepts an id field, but regardless of which id I pass, it seems to return all transactions for all accounts (up to the limit).

[2022-06-13 12:05] system3788 opened #486 "Hangs on creation 'mint' instance"
Hangs on creation.
It logs in, main screen is loaded and then just hangs.
Page (account) has interface with sidebar menu.

Version: 2.1

[code]

Stacktrace/error received:
[code]

**Additional context**
Also, looks like option "beta=True" is not working, returns error when using it.

[2022-06-14 06:35] mrooney commented on #483
As I think about it more, I'm curious if this actually warrants a non-zero exit code. It seems that mintapi was able to do its thing, it just isn't sure that all your data is current on the Mint.com side. @burkematthew any thoughts?

[2022-06-16 12:07] burkematthew commented on #483
I think it would make sense to add an option (defaults to off for now to avoid breaking changes for users) that controls whether or not we terminate when sync fails. Is this what you are looking for in a nutshell, @felciano ?

[2022-06-16 12:09] burkematthew commented on #444
@chino see the previous comment on what to do to resolve this.

[2022-06-16 12:09] #444 closed

[2022-06-16 12:12] burkematthew commented on #485
@dsteiner10 can you provide a snippet of the code you are using to show the behavior?

It does look like we are passing the `id` to the endpoint if supplied, so I'll be curious to know if that's simply not what Mint wants.

[2022-06-16 12:14] burkematthew commented on #486
@system3788 please remove sending `mfa_method` and see if that resolves your issue.

[2022-06-16 14:47] system3788 commented on #486
Actually we use "soft-token" as mfa_method at this moment (since google disabled less secure apps to log in IMAP).
But it logs in and I see "overview" page with refreshing bar at the bottom of page. Then it syas "Account refresh compleate".
Is there anything else we can try?

[2022-06-16 15:54] felciano commented on #483
Yes, provided there is also a way to determine whether the run was successful or not (e.g. exit code)

[2022-06-16 17:20] mrooney commented on #483
That seems reasonable! We could call it `--fail-on-stale` (it rhymes!) and then exit with a unique exit code in that scenario.

[2022-06-17 03:44] burkematthew commented on #483
Sounds good to me and easy enough.

[2022-06-17 03:45] burkematthew commented on #481
This is very do-able. Barring any restrictions from Mint, we'll add support for merchants data like we did with categories.

[2022-06-17 03:47] burkematthew commented on #486
@system3788 it's not the method itself that you'd be removing. MintAPI detects which MFA method it needs to log you in and requests accordingly. The only time you need (or should) submit a value in that argument is if your flow requests for you to select from a list of methods to use.

Based on what you are saying after you remove the argument, it seems like it is working as expected?

[2022-06-18 15:43] burkematthew commented on #481
So far, the following endpoints do not exist for Mint:

* pfm/v1/merchant
* pfm/v1/merchants
* pfm/v1/vendor
* pfm/v1/vendors

If you go to manually add a transaction in Mint, here is the screen:

<img width="727" alt="Screen Shot 2022-06-18 at 10 24 02 AM" src="https://user-images.githubusercontent.com/22505475/174445453-14bf99fa-7ec4-446c-beac-d37bd4aa985b.png">

If you notice, the description h

[2022-06-18 15:53] burkematthew commented on #481
@KOEPKEJR @andrewjlaird unfortunately, no good news on this front.

[2022-06-18 22:40] system3788 commented on #486
Removing mfa_method leads to stop mintapi on screen where 6 digits should be entered.
From outr side we'd like to use soft-token method as predefined. And it successfully loges in into mint account.
But then nothing happens.
mint.get_accounts() - never retuns values; application rises Time out exception.

[2022-06-19 01:32] burkematthew commented on #486
@system3788 if you're on V2 and using get_accounts(), that's one issue as the method is now get_account_data(). Also, on the MFA screen, what is it prompting you for? Email, sms, authenticator, etc.?

[2022-06-19 13:01] burkematthew commented on #426
Note to self: add a wait in account_selection_page.

[2022-06-19 20:05] burkematthew commented on #435
@josjaf I only have one investment account in the data I have access to.  Is there anyway you can anonymize your output from the endpoint and supply that here so that I can review to get a feel of what's happening?

Also, looking again at your supplied test against the length:

[code]

I'm pretty sure that's always going to give you the number of output records because your for loop will generate

[2022-06-19 20:07] #481 closed

[2022-06-19 22:14] system3788 commented on #486
With get_account_data same thing, just hangs.
MFA screen is for authenticator.

[2022-06-20 01:48] burkematthew commented on #486
@system3788 now that you've made a couple modifications, can you paste your script you are running so I can make sure I'm up to speed?

[2022-06-20 10:52] system3788 commented on #486
[code]

[2022-06-20 19:17] system3788 commented on #486
Removing mfa_method leads to stop mintapi on screen where 6 digits should be entered. It does not login automatically.

[2022-06-20 19:51] burkematthew commented on #486
@system3788 your Intuit account must be configured to use an authenticator app. You should disable that at your account level if you do not wish to use an authenticator.

[2022-06-20 20:00] system3788 commented on #486
In this case it will require confirmation code from mailbox, isn't it?
Why can't we use mfa_method='soft-token' with mfa_token for authenticator?
When we use successfully it it logs in.

[2022-06-20 22:33] burkematthew commented on #486
@system3788 Submitting a value for mfa_method should not be used with V2 unless you are provided with the screen to select which MFA you want to use. We refactored the login flow so that we identify what is required based on prompts from Mint. You could send mfa_method=email but it doesn't matter if Mint is requesting something other than email.

I digress...

How long are you waiting before deter

[2022-06-20 23:52] system3788 commented on #486
Strange, but it work (logs in) every time we use mfa_method='soft-token'.
Waiting for about 5 min.
Yes it does not return value.

Additional traceback info:
[code]

[2022-06-21 00:33] #419 closed

[2022-06-21 00:34] #483 closed

[2022-06-21 18:39] KOEPKEJR commented on #481
@burkematthew I appreciate the investigation.  Thanks for all you do on the project.

[2022-06-21 19:20] #426 closed

[2022-06-22 18:06] areagu opened #491 "after switching to new api, missing "note" and "labels" fields -- which are very critical for me"
the older api used to return "note" and "labels" fields
both fields are also available in transactions.csv file that you can download from transactions tab mint.com (all the way on the bottom where pagination is)

the new api returns something called etag -- numerical value -- not sure if its related to tags (labels) and if there is another end point that will return tag names based on tag ids

i

[2022-06-22 23:03] chdavis8 commented on #485
I'm having the same issue.  I have verified that you are passing the id to mint using print to show the url you are using:
#### account id is: 11277025_11182526
**** url before id appended: https://mint.intuit.com/pfm/v1/transactions?limit=5000&
**** url after id appended: https://mint.intuit.com/pfm/v1/transactions?limit=5000&id=11277025_11182526&

I think the issue is that mint doesn't recognize

[2022-06-23 13:44] gabefortin opened #492 "The sign in page doesn't load fast enough and the click to sign in fails"
**Describe the bug**
Not logging in to Mint. Get error 'selenium.common.exceptions.WebDriverException: Message: unknown error: cannot determine loading status' and Chrome shuts down instantly.

What version of MintAPI are you using?
2.1

What command[s] did you run / steps to reproduce?
Stacktrace/error received:
Message: unknown error: cannot determine loading status
from unknown error: unexpecte

[2022-06-23 22:47] burkematthew commented on #492
@gabefortin please include your script that you are running that resulted in this output.

[2022-06-24 03:48] CalvinChanCan commented on #492
I'm also experiencing the same issue recently starting on 6/21. For me, I'm just running the following script:

[code]

As I'm debugging, it seems like the issue is occurring on signIn.py on line 333 where `element.click()` gets through to the old username sign in page. But simply adding `time.sleep(1)` before click brings me to the new username sign in page and works as expected. Oddly, I tried u

[2022-06-24 16:14] dsteiner10 commented on #485
Here is the code that I was previously running on 1.x:

I found the same thing that chdavis8 found.  mintapi is passing the id in the url, but it doesn't seem like mint does anything with the id.

`# Get basic account information
trans_dict=[]
roi_accts = ['CK','SV','NT','CC','RE','RL','RT','SL','IV','VE','VL','ED']
account_info = mint.get_account_data()

for num,account in enumerate(account_info[

[2022-06-24 16:43] dsteiner10 commented on #492
I also started getting this error this morning (6/24).  I used CalvinChanCan's approach and the signin worked as expected.

[2022-06-24 17:36] system3788 commented on #486
Now it keeps throwing an error:
[code]
Full trace:
[code]

[2022-06-24 19:18] CalvinChanCan commented on #491
Hi @areagu. Which method are you calling that you're not seeing the note and labels field? I've been using `get_transaction_data` which returns a json/dictionary containing `tagData` (which is the labels field) and "notes".

[2022-06-24 19:42] areagu commented on #491
i'm calling get_transaction_data() on the new API
below is an example of a record that i'm getting back, I do get etag -- but i'm not sure how to get labels and notes from etag...

{
'type': 'CashAndCreditTransaction',
'id': '63647170_2229459791_0',
'accountId': '63364170_4894910',
'accountRef': {'id': '4894910', 'name': 'Joint Checking', 'type': 'BankAccount', 'hiddenFromPlanningAndTrends': False

[2022-06-24 20:17] CalvinChanCan commented on #491
That particular example you showed might not have a note and label. For example one of my transactions might look like this.
[code]

[2022-06-24 20:50] areagu commented on #491
omg you're totally right -- thank you so much !

[2022-06-24 20:51] #491 closed

[2022-06-25 00:21] burkematthew commented on #491
Nice catch @CalvinChanCan and @areagu I'm glad that your issue is not really an issue!

[2022-06-25 00:23] burkematthew commented on #485
Yes I found the same thing. I may just throw in a filter to the data returned from the API for the time being.

[2022-06-26 20:30] #492 closed

[2022-06-26 20:52] burkematthew commented on #473
@CalvinChanCan is this still an issue for you?

[2022-06-26 21:55] CalvinChanCan commented on #473
@burkematthew Thanks for following up! It's no longer an issue for me since having been switched to the new UI.

[2022-06-26 22:28] burkematthew opened #495 "Selenium deprecated `find_element(s)_by`"
**Describe the bug**
When pulling the latest version of Selenium, users will receive an error that `'Chrome' object has no attribute 'find_element_by_link_text'`.  This is because Selenium's latest version deprecates these methods.

We will need to switch uses to the correct format to find elements.

Stack Overflow Reference: https://stackoverflow.com/questions/72754331/webdriver-object-has-no-att

[2022-06-27 00:59] burkematthew commented on #473
@CalvinChanCan awesome, glad to hear that. We'll go ahead and close this one out then.

[2022-06-27 00:59] #473 closed

[2022-06-27 14:27] mrooney opened #496 "release 2.2"
Issue to track the release of 2.2 after the PR has been merged!

[2022-06-27 14:28] #496 closed

[2022-06-28 00:09] #495 closed

[2022-06-28 15:34] Mitrij opened #499 "Several issues during mintapi exploitation (mintapi not returning any data)."
**Describe the bug**
During mintapi exploitation faced several errors and flaws. Tracebacks follows.
Also about timeouts in several code parts, for slow computers waite timeouts in code are too small.
Can you check it and fix? Thanks.

mintapi 2.2

[code]
should be driver.find_element instead of just find_element ?

[code]
Looks like 2 seconds not enough for slow computers.

[code]

Also, when it

[2022-06-28 18:41] mrooney opened #501 "release version 2.3 to pypi to fix selenium dependency issue"

[2022-06-28 18:41] mrooney commented on #501
Done!

[2022-06-28 18:41] #501 closed

[2022-06-29 03:39] iamjli commented on #499
I'm encountering a similar issue on mintapi 2.3

[code]

[2022-06-29 03:45] burkematthew commented on #499
If you are experiencing `find_element` is not defined, you need to upgrade Selenium on your local machine.

[2022-06-29 07:11] iamjli commented on #499
After upgrading to `selenium==4.3.0`, I'm still getting the same error but with a stacktrace:

[code]

[2022-06-29 16:50] CalvinChanCan commented on #499
I'm also experiencing the same issue. It seems like the issue is `find_element` is missing `driver`. After changing `find_element` to `driver.find_element`, it works as expected again.
[code]

[code]

[2022-06-29 19:53] mrooney opened #504 "release 2.4 to resolve selenium driver issue"

[2022-06-29 19:54] #504 closed

[2022-06-29 19:57] mrooney commented on #499
#502 is merged and released as 2.4! If there are any remaining issues (such as the 2 seconds), please open as individual issues so they can be better tracked. Thanks!

[2022-06-29 19:57] #499 closed

[2022-06-29 20:01] mrooney opened #506 "require a minimum version of selenium for driver.find_element"
#498 and #502 use this, but we don't require a minimum version that actually has this :)

[2022-06-30 04:09] mrooney commented on #506
Merged!

[2022-06-30 04:09] #506 closed

[2022-07-02 00:10] iamjli commented on #499
Works, thank you!

[2022-07-03 11:59] YusufBritton1990 opened #508 "Could not sign in to Mint. Current page: https://mint.intuit.com/overview?utm_medium=direct&cta=nav_login_dropdown&ivid=6276225c-b1e6-403b-b256-1f73381426ee"
**Describe the bug**
A clear and concise description of what the bug is.
After the mint API signs in with my email and password, I input the MFA sms prompt in my gitbash. after I input this in, I get this error below:
Could not sign in to Mint. Current page: https://mint.intuit.com/overview?utm_medium=direct&cta=nav_login_dropdown&ivid=6276225c-b1e6-403b-b256-1f73381426ee

Since the MFA is the onl

[2022-07-04 21:35] createav commented on #508
I am getting the same error here. 4.2.

In non-headless mode and I am getting through login then receiving recaptcha screen with the "make sure your not a robot" screen. It's the only consistent part about getting this error.

[2022-07-04 23:49] burkematthew commented on #508
This is a known issue. The wait on the Account Selection Page isn't long enough, resulting in the Timeout Error. We need to increase the value.

[2022-07-05 01:48] RyanKohn opened #509 "[Enhancement Request] Allow search criteria for transactions"
Doing a POST to /transactions/search allows you to provide criteria for your search via various parameters.

The general body of the request looks something like this:
[code]

Note that it is possible to combine multiple filters in a single request. The `matchAll` parameter determines whether the combination is treated as an All (`matchAll=true`) or an Any (`matchAll=false`).

Using Fiddler, I ins

[2022-07-05 02:56] matt199x commented on #508
I have the same issue. My temporary fix is to uncomment "mfa_method='sms'" put the mfa code in then comment out the line again. It will work for a week or two in my case.

[2022-07-05 11:42] burkematthew commented on #508
@matt199x with v2, you shouldn't need to send `mfa_method='sms'` in the first place.  That being said, the attached PR should ideally take care of this issue.

[2022-07-05 11:42] burkematthew commented on #485
Actually, I'm going to hold off on the idea mentioned as #509 will most definitely address this need.

[2022-07-06 18:29] YusufBritton1990 commented on #508
I have the mfa_method='sms' commented, but I am still getting the same error.

[2022-07-06 19:31] #508 closed

[2022-07-06 19:39] mrooney opened #511 "more specific linkage to 2.0 changes"
Previously, we just linked to the CHANGELOG, but now the 2.0 info is shoved down there a bit. We should probably keep it at the top in a special section, or link specifically to the 2.0 section,

[2022-07-07 16:36] #511 closed

[2022-07-08 09:25] #478 closed

[2022-07-13 15:57] pazwicker opened #515 "Login to Mint failed due to timeout in the Multifactor Method Loop"
**Describe the bug**
Unable to log in to Mint. Last logged in yesterday via mintapi with no issues.

What version of MintAPI are you using? 2.5
What command[s] did you run / steps to reproduce?

[code]

Stacktrace/error received:

[code]

**What did you expect to happen?**
Expected sign in to work

**What actually happened?**
Sign in did not work

**Additional context**
Running fine hourly via cro

[2022-07-13 16:31] ujjwalkrishna commented on #515
Getting the same error

[2022-07-13 19:39] emann3 opened #517 "cannot import name 'Opera' from 'selenium.webdriver'"
**Describe the bug**
cannot import name 'Opera' from 'selenium.webdriver'

What version of MintAPI are you using?
the latest release - just did a pip install mintapi --upgrade

What command[s] did you run / steps to reproduce?
any mintapi commmand - even -h

Stacktrace/error received:
PS C:\WINDOWS\system32> mintapi -h
Traceback (most recent call last):
  File "C:\Python310\Scripts\mintapi-script.

[2022-07-13 22:33] ianvanhoven commented on #515
Same error, starting today

[2022-07-14 02:32] burkematthew commented on #515
Can everyone try again from the latest on main?

[2022-07-14 02:33] burkematthew commented on #485
I'm going to close this one out in favor of the linked issue.

[2022-07-14 02:33] #485 closed

[2022-07-14 04:54] ujjwalkrishna commented on #517
Just upgrade selenium-requests by this command:
`pip install --upgrade selenium-requests`

[2022-07-14 12:24] hudcap commented on #515
@burkematthew thank you! I can confirm that the new `id` you added works!
Finally got around to working on #484 and was hitting this error, but once I pulled your changes, it went back to working.

[2022-07-14 13:05] pazwicker commented on #515
That fix seemed to do it. All is working as expected. Thank you!

[2022-07-14 13:43] emann3 commented on #517
yes, that got me past that issue, thanks.

[2022-07-14 13:43] #517 closed

[2022-07-14 13:50] emann3 opened #518 "Unable to proceed past the Account Selection Page: 'WebElement' object is not iterable (Exception: Could not sign in to Mint.)"
**Describe the bug**
get an error logging in

What version of MintAPI are you using?
I used pip3 install git+https://github.com/tsdg112/mintapi.git@master
So I think I am using the latest in MAIN

What command[s] did you run / steps to reproduce?
mintapi -f today --headless --session-path "E:\Server Stuff\sessions" --accounts user pass

Stacktrace/error received:

DevTools listening on ws://127.0.

[2022-07-14 18:11] #515 closed

[2022-07-14 18:51] dzg opened #519 "Not working – not filling in password"
**Describe the bug**
[code]
gets as far as "enter password" then does not fill in password. Was working a couple of weeks ago.

[code]

[2022-07-14 18:53] dzg commented on #515
Sorry, which fix fixed? What does 'try again from the latest on main' mean?

[2022-07-14 19:21] hudcap commented on #515
The fix was committed to the 'main' branch on github.
I'm guessing from your question that you installed mintapi using pip, which hasn't been updated yet.
Guessing also that you don't have git installed on your computer.
Try this to update to the latest on main:
[code]

[2022-07-14 20:08] dzg commented on #515
I do have `git` ... and yes I installed via `pip`.
I tried your suggested command, but it's still stopping at the password prompt.
Thanks for your help

[2022-07-14 20:11] emann3 commented on #515
i tried using main (as noted above) and am still getting the error: Login to Mint failed due to timeout in the Multifactor Method Loop

it is on the page to select from my 2 accounts when it gets stuck

Command:
mintapi -f today --session-path --accounts user pass

StackTrace:
DevTools listening on ws://127.0.0.1:61673/devtools/browser/cd264ec6-088a-4814-9b82-1fdeafa6c948
[31588:32096:0714/160536.

[2022-07-14 20:13] emann3 commented on #518
this was solved by one of the fixes recently added to main.

But on main, I am now getting the MFA loop timeout issue - I added a comment to that issue

[2022-07-14 21:05] emann3 commented on #518
spoke too soon...still getting this error

[2022-07-14 21:19] mrooney opened #520 "bump min version of selenium-requests"
Opening this issue to track/address #517 which has a workaround to upgrade selenium-requests, but it seems we could simply require that ourselves?

[2022-07-14 21:32] mrooney commented on #515
Yes, this is perhaps fixed by #516 which is now merged to `main`. I'll get a release out shortly as 2.6 so it's easier to have!

[2022-07-14 21:40] emann3 commented on #518
changed to using the bump-selenium-requests branch, same error.

more digging, turning off headless, the error occurs while chrome is on the "pick which account" page

(I have two...would love to get rid of one, but haven't figured out how yet - i don't need the second, I believe its from quicken which I haven't used in years since i found this api)

[2022-07-14 21:46] ianvanhoven commented on #515
Ah, thx. I upgraded to 2.5 but didn't see the fix, so hand-patched
signOn.py myself :)

On Thu, Jul 14, 2022 at 2:32 PM Michael Rooney ***@***.***>
wrote:

[2022-07-15 14:43] tsdg112 opened #522 "README.md Firefox example does not work"
The example for using Firefox at the end of README.md does not work.  Instead of calling mintapi.sign_in, it should show a call to Mint with driver specified.

[2022-07-15 14:55] #520 closed

[2022-07-15 14:56] burkematthew commented on #519
@dzg please see @hudcap 's comment and verify if main fixes your issue.

[2022-07-15 15:02] emann3 commented on #518
the radio button is correct (but i believe it is selected by default).  the error occurs I assume trying to click the button

[2022-07-15 17:17] felciano commented on #518
I just started seeing this as well

[2022-07-15 17:18] felciano commented on #518
@jprouty possibly related to https://github.com/jprouty/mint-amazon-tagger/issues/111?

[2022-07-16 00:09] zosky commented on #519
wifeee mentioned our webUI is blank. downgraded chrome+driver to 102 (as mentioned on another thread) which made it stop crashing, but stuck at pw. confirming main is now able to enter the pw again

this whole flow was stable for years. for your sanity, i really hope they stabilize their new UI soon.

**thanks for making this easy _-ish_ !!**

[2022-07-16 16:23] bcn76 commented on #519
I was having the same error and same location mintapi was stalling, I switched from the default pip install to
pip install https://github.com/mintapi/mintapi/archive/main.zip
and the problem has resolved, thanks!

[2022-07-16 19:43] #519 closed

[2022-07-16 20:45] mrooney commented on #522
Awesome, thanks for the report! I'll try to update that at some point, PRs also welcome!

[2022-07-16 20:47] mrooney opened #525 "release 2.6 w/ Trends API and login improvements"
This is a ticket to track the deployment to pypi!

[2022-07-16 20:47] mrooney commented on #525
Done!

[2022-07-16 20:47] #525 closed

[2022-07-19 15:57] mdupuy opened #527 "Descrepency between what is reported by the json net_worth output and what is shown on the web page"
net_worth reports a value that is $130k higher than what is reported by the actual web page
Any idea why that might be?

[2022-07-19 17:23] mrooney commented on #527
Can you please use the bug template to include your version of mintapi, the call you are using, and any screenshots to demo this? We don't have any information needed to debug this.

[2022-07-20 02:27] sfitzgerald96 opened #528 "Latest docker image still has mintapi 2.5 installed"
**Describe the bug**
Downloading the latest docker image still has mintapi 2.5 installed.

**What version of MintAPI are you using?**
I'm running the MintAPI on the latest docker image with sha256:4a6b2114f1388586869fd879d81ece9fe2467c64cfac45a44f4f8fbee8fa8cc2

**What command[s] did you run / steps to reproduce?**
`docker run --rm ghcr.io/mintapi/mintapi@sha256:4a6b2114f1388586869fd879d81ece9fe24

[2022-07-20 02:50] burkematthew commented on #528
@sfitzgerald96 is the only reason you think it's not 2.5 because you are receiving the error in the linked issue? Can you do a check of the version installed in the container?

[2022-07-20 03:06] sfitzgerald96 commented on #528
@burkematthew Thanks for the quick reply! Yeah, I checked the version by running `pip list -v` in the container and it comes back as version 2.5

I ran `docker run --rm ghcr.io/mintapi/mintapi:latest pip list -v` and it shows mintapi as version 2.5. I wanted to make sure it wasn't my local machine caching the previous `latest` tag, which is why I ran it with the sha instead as seen in the command

[2022-07-21 00:07] karunkrishna opened #529 "Some mint accounts have multiple accounts, stuck in selection screen loop"
When a mint account has multiple selections, the mintapi get stuck on the printscreen below.
Is it possible to select the latest date or ratio button automatically to continue.

I need to run in headless=False mode, manually select to continue, before the rest of my script can run. So I can't migrate this code to AWS lambda or run from docker. Has anyone experienced this. I am willing to delete th

[2022-07-21 00:35] burkematthew commented on #529
@karunkrishna what version are you running?

[2022-07-21 01:09] karunkrishna commented on #529
mintapi==2.6

[2022-07-21 03:12] burkematthew commented on #529
Thanks @karunkrishna , it appears I'm experiencing the same issue.  I'll take a look at it!

[2022-07-21 04:53] burkematthew commented on #528
@sfitzgerald96 can you try one more time and see if the version is correct now?

[2022-07-21 04:53] burkematthew commented on #509
This is my next-up project.

[2022-07-21 13:25] emann3 commented on #518
@burkematthew the linked PR worked for me - fantastic, thanks VERY much

[2022-07-21 15:05] sfitzgerald96 commented on #528
@burkematthew Thank you, that looks like it did the trick! I'm seeing 2.6 installed on the docker image now!

[2022-07-21 15:05] #528 closed

[2022-07-21 19:27] felciano commented on #518
Seems to have resolved the issue for me as well -- thank you @burkematthew!

[2022-07-21 20:15] mdupuy commented on #527
Sorry, version of mintapi is current (2.6)
Running on Chrome Version 103.0.5060.114 (Official Build) (arm64)
ChromeDriver 103.0.5060.53
Python 3.9.13
MacOS 12.4 (21F79)

json from mintapi:
{
  "net_worth": 1707764.8900000001
}

Screen Grab:
![browser screen grab](https://user-images.githubusercontent.com/1259611/180111795-e6825957-b906-4fc5-b43e-37e31202cb76.jpg)

A difference of 127,570.63
Nothin

[2022-07-22 17:24] #314 closed

[2022-07-22 17:24] #518 closed

[2022-07-22 17:24] #529 closed

[2022-07-23 02:48] mrooney commented on #527
Sorry if this is a really dumb question, but you are definitely using the same account for the web vs mintapi, right? :D

[2022-07-24 14:59] burkematthew commented on #527
@mdupuy my best advice for you is to export your account data and then perform a manual calculation similar to our handling: taking active accounts, you subtract the current balance of Loan and Credit Accounts from the current balance of all other accounts.  This is what your true Mint "Net Worth" would be.  You also may check the Trend of your Net Worth (which you can pull using MintAPI now) and

[2022-07-24 15:35] burkematthew commented on #435
@josjaf since this was for several months ago and was related to pre-v2 of MintAPI (and new version of Mint), can you update and see if you are still experiencing the same problems?

[2022-07-24 21:21] mrooney opened #533 "release 2.7 w/ intuit login fixes"
Let's resolve those login account selection bugs!

[2022-07-24 21:22] mrooney commented on #533
Release to pypi as 2.7!

[2022-07-24 21:22] #533 closed

[2022-07-25 14:50] josjaf commented on #435
I'll give it a try!

[2022-07-25 17:12] burkematthew commented on #435
@josjaf what version are you running?

[2022-07-25 17:18] josjaf commented on #435
2.7 of mintapi. I think the issue I have is what you describe under special considerations under the readme, I have mint and turbotax under the same email.

[2022-07-25 17:18] josjaf commented on #435
Is there any way to separate them without creating a new mint account?

[2022-07-25 23:26] burkematthew commented on #435
@josjaf not that I can speak to. That being said, I saw this article:

https://support.creditkarma.com/s/article/Linking-your-TurboTax-account-to-Credit-Karma

I wonder if there's a similar way to unlink them like this?

[2022-08-02 22:37] rchadgray opened #534 "CSV field order"
Every time i create a CSV file the data is organized differently.  Transactions is where i have noticed it.

This makes it difficult to use bulk insert of data into databases if the fields are not in the same order each time.

Export1 example:
type,id,accountId,date,description,amount,status,matchState,etag,isExpense,isPending,discretionaryType,isLinkedToRule

Export2 example:
type,id,accountId,da

[2022-08-05 14:32] timdau commented on #278
@burkematthew Who do I owe the $200USD as the thank you gift?

[2022-08-05 21:14] burkematthew commented on #278
@timdau this was made possible due to the contributions of @eyadgaran !

[2022-08-05 21:56] timdau commented on #278
Thanks Matthew.  @eyadgaran please let me know how you want me to send you the thank you gift.  You can reach out to me paul{at} hessels(.) ca.  I can sponsor you, paypal, theoretically I can send you some sort of crypto coin.  Just let me know.

[2022-08-06 01:15] eyadgaran commented on #278
lol no need! i was happy to do it for my own selfish needs. feel free to send it to @burkematthew and @mrooney for putting in the work to maintain this project. cheers!

[2022-08-06 18:02] mrooney commented on #278
@burkematthew spent a billion hours to make a ton of work happen, I nominate him :)

[2022-08-06 18:48] burkematthew commented on #278
@timdau if you have Venmo, you can send it to @matthew-burke-26.

[2022-08-06 22:00] timdau commented on #278
@burkematthew I just tried to sign up for venmo and it wouldn't let me because I am not in the USA.

[2022-08-06 22:57] burkematthew commented on #278
@timdau just messaged you on Discord.

[2022-08-08 23:26] burkematthew commented on #534
@rchadgray this order is defined by Mint.  The only option we'd have is to alphabetize the columns, but that would more than likely negatively affect more users than help as it would change the contextual order of the columns.

[2022-08-08 23:27] #534 closed

[2022-08-10 19:27] #509 closed

[2022-08-12 18:09] ianvanhoven opened #535 "Mint login failure: timeout in Multifactor Method Loop"
Started yesterday afternoon...

`[ivh@ci] ./wx.ad.mnt.py ro`
`Login to Mint failed due to timeout in the Multifactor Method Loop`
`Traceback (most recent call last):`
 ` File "/usr/local/lib/python3.8/dist-packages/mintapi/signIn.py", line 401, in sign_in`
  `  WebDriverWait(driver, 5).until(`
  `File "/usr/local/lib/python3.8/dist-packages/selenium/webdriver/support/wait.py", line 90, in until`

[2022-08-15 20:47] ianvanhoven commented on #535
Anyone else experiencing this?

Here's my setup:

`% pip show mintapi`
`Name: mintapi`
`Version: 2.7`

`% pip show selenium`
`Name: selenium`
`Version: 4.4.0`

`% apt list -a google-chrome-stable`
`Listing... Done`
`google-chrome-stable/stable,now 104.0.5112.79-1 amd64 [installed]`

`% ll`
`lrwxrwxrwx 1 root root  38 Aug 15 20:34 chromedriver -> rls/chromedriver_linux64_104.0.5112.79*`
`dr-x------

[2022-08-15 22:23] ianvanhoven commented on #535
I was able to workaround this by enabling MFA; closing this issue.

[2022-08-15 22:23] #535 closed

[2022-09-07 02:00] #527 closed

[2022-09-07 02:00] #435 closed

[2022-09-07 16:24] josjaf commented on #435
I couldn't find anything to unlink them

[2022-09-17 04:06] noblevirk opened #537 "get_transaction_data not downloading all transactions."
**Describe the bug**
Not sure if this is a bug or not, but it seems like that my connection to mint is getting closed prematurely. I set the
`wait_for_sync_timeout=10*60` and I'm sure the connection is interrupted way before this timer is done. I think as a result, I'm only receiving 4995 transactions.

**What version of MintAPI are you using?**
latest
**What command[s] did you run / steps to repr

[2022-09-17 04:14] burkematthew commented on #537
@noblevirk a couple things that may be at play here:

1. There is a default limit of 5000 records per call. If you expect more than that from Mint, you should pass a value through the `limit` argument.
2. You may need to pass a date filter in to specify that you are running a custom date range.

Let me know the results of both of those!

Matthew

[2022-09-24 01:00] ddcruver opened #539 "Write Access to Split a Transaction and Set Category"
While implementing a read API without a official API is impressive, I have ideas of how someone could download their information from Amazon process the categories in which the transactions could be in and then make a list of transactions to split and categorize in Mint.

With this information you could update Mint to have more accurate spending information across services for us that use big onli

[2022-09-24 01:04] CalvinChanCan opened #540 "Is initialize_serverless_chrome_driver missing?"
Hi, I was going through the readme to setup mintapi on AWS Lambda. The readme mentioned there was a constructor for a pre-configured headless serverless chrome `initialize_serverless_chrome_driver` but I don't see this method available. Is this missing from the api?

[2022-09-25 01:11] jaksaffras commented on #537
This could be related to mint itself in addition to previous poster needing to supply a the limit filter within mintapi.get_transaction_data() call.

from the UI, Mint only exports 10,000 transactions at a time for the given date range, regardless of the
Tranasctions->Export should be 16000+ transactions, yet the UI export only has until 8/7/2018 and 10000 rows.
9/1/2013-9/1/2020 should export 11,

[2022-09-27 21:53] mrooney commented on #540
Thanks for giving it a shot! I believe this is intended simply as a sort of stub method, ie `your_custom_chrome_driver_instantiation_here()`. From the linked page in that section, you can see they add a bunch of options before doing `driver = webdriver.Chrome(chrome_options=chrome_options)`. It's just showing how to pass a custom driver. If you have any suggestions to improve the README in this se

[2022-09-27 21:53] #540 closed

[2022-09-28 00:43] burkematthew commented on #539
Hi @ddcruver -

At this point, we are only focused on maintaining mintapi as a read-only tool.  I'll defer to @mrooney for final say, though.

[2022-09-28 18:37] mrooney commented on #539
It does not currently support write activities. For better categorization, I could see a browser extension doing well at that for folks who actively use the website. I'd be more a fan of a separate project that uses mintapi as a dependency, and would be happy to support any API changes on our side to make login and requests more re-usable.

[2022-09-28 18:37] #539 closed

[2022-09-28 20:21] mrooney opened #543 "release 2.8 to pypi w/ SMS MFA fixes"

[2022-09-28 20:25] mrooney commented on #543
Done!

[2022-09-28 20:25] #543 closed

[2022-09-29 05:05] jayraguda opened #544 "get_transaction_data() Method throwing TypeError: HTTPConnection.getresponse() got an unexpected keyword argument 'buffering'"
Hey @roonbaob -- so the issue with the Multifactor Method Loop is gone as the new version successfully creates the Mintapi client object. But when I try to call `get_transaction_data()`  I get these errors:

[code]

The error messages are the same locally, on Google Cloud Run, and even when typed manually into the Python intepreter:
[code]
etc.

[2022-10-03 12:50] sooth commented on #544
I believe this might be due to a new screen asking for us to update our phone number

[2022-10-03 16:48] gleuch commented on #544
Similar when executing via CLI. When running as `--headless`, it fails with "Remote end closed connection without response". When running without `--headless`, it fails with the following error log:

[code]

Observing the automated screen, it successfully logs in, loads home screen, loads transactions screen, then it appears to load a different screen and Chrome then immediately closes.

[2022-10-03 19:40] pisakhov commented on #544
I encounter the same issue, please let me know if anyone found a way how to fix it.

[2022-10-04 02:58] pazwicker commented on #544
Same issue here.

[2022-10-06 02:31] gleuch commented on #544
I thought it might be related to the MM-DD-YYY format requirement from PR #531, but I can't reliably confirm. When invoking via CLI, it will sometime succeed and sometimes fail in both browser and headless modes. 🤷‍♂️

Thinking out loud, could it be a timeout issue with the change to use `transactions/search` endpoint?

[2022-10-08 10:47] milanave commented on #544
I believe this is a Google Chrome issue with version 106. I left some details on Discord, but when I downgraded to 105 (both the binary and the driver) everything worked normally. Not sure what to do from here apart from disable auto-updating and try 107 when it comes out.

[2022-10-08 21:09] felciano opened #545 "Cannot log in using canonical use case example"
**Describe the bug**
I have just done a clean install of `mintapi` v2.8, and am unable to get the basic CLI example to work. Here's what I'm calling:
[code]
It opens the Selenium browser and correctly manages the username and password pages. However when the MFA page opens, the value is not filled in, nor am I prompted for it on the command line. After a little bit, it fails out with a `Message: i

[2022-10-08 21:21] felciano opened #546 "WebDriverException crash after successful log in with v2.8"
**Describe the bug**
After successfully logging in, `mintapi` v2.8 crashes out with a Selenium error.

[code]

Using Chrome 106.0.5249.103 and python 3.10.7

**What did you expect to happen?**
Default behavior with no parameters (account data returned).

**What actually happened?**
The chromedriver instance logs in correctly (username, password and MFA) and the main UI comes up. It sites for a few

[2022-10-08 23:25] jcsacto opened #547 "Cannot get past Sign In screen with 2.8"
**Describe the bug**
I updated to 2.8 in my Dev environment and it can no longer get past the Sign in screen.

What version of MintAPI are you using? 2.8
What command[s] did you run / steps to reproduce?

import mintapi
import pandas as pd
import gspread
import time
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials
from config import userna

[2022-10-09 15:27] pazwicker commented on #546
Same issue here.

[2022-10-09 16:57] felciano commented on #547
@jcsacto do you get a stack trace dumped out, or just an error message on the CLI?

[2022-10-09 18:57] jcsacto commented on #547
@felciano  here is everthing I get back..including a 'backtrace'

TimeoutException                          Traceback (most recent call last)
File c:\Users\Jon Crosby\.conda\envs\mintEnv3\lib\site-packages\mintapi\api.py:195, in Mint.login_and_get_token(self, email, password, mfa_method, mfa_token, mfa_input_callback, intuit_account, headless, session_path, imap_account, imap_password, imap_server

[2022-10-10 15:15] mrooney commented on #547
Thanks! Does using an older version like mintapi==2.7 get past the issue? I'm curious if this is an issue with newer Chrome like some folks were seeing on Discord.

[2022-10-10 15:48] jcsacto commented on #547
I tried uninstalling and then installing 2.7 and 2.6 (pip install mintapi==2.7) but still getting the same behavior.  This is on windows where I do Dev/Testing, I am using 2.6 in a Docker container on GCP cloudrun for my production version which still seems to be working fine...if that helps.

[2022-10-10 15:57] mrooney commented on #545
Thanks! Are you able to try 2.7 to verify whether or not this is a mintapi breakage or something on the mint / chrome side?

[2022-10-10 18:08] snowskeleton commented on #546
Same here. In my usage, it happens as soon as I try to use the object returned.

[code]

Probing it with ```dir()``` shows the methods you'd expect to be there, and doesn't cause any crash.

[2022-10-11 01:53] felciano commented on #545
Just tested and confirmed the problem happens with v2.7 as well. Renamed the title of the issue to remove the specific reference to v2.8

[2022-10-13 16:19] jcsacto commented on #547
Adding response from babbeuf on Discord regarding his work around on this issue.

**babbeuf — Today at 9:18 AM
I had the same problem getting through the login screen. It looks like Mint changed the id tag designating the text box from "#ius-userid' or similar to '#iux-identitifier-first-unknown-identifier.' When I added that tag to the sign_in function in signIn.py, it worked.**

[2022-10-14 13:50] pdeangelo opened #550 "Exception: Could not sign in to Mint."
Hello,

I have been using this for a few months now with no problem, but all of a sudden I am getting this error:

Traceback (most recent call last):
  File "C:/Users/pdean/AppData/Local/Programs/Python/Python310/M2.py", line 2, in <module>
    mint = mintapi.Mint(
  File "C:\Users\pdean\AppData\Local\Programs\Python\Python310\lib\site-packages\mintapi\api.py", line 122, in __init__
    self.login

[2022-10-14 20:22] pdeangelo commented on #550
I read through some of the other issues and added this to signin and it worked
"ius-hosted-ui-main-container"

[2022-10-14 20:22] #550 closed

[2022-10-15 19:24] apiology opened #553 "Remote end closed connection without response after successful headless log in with v2.8"
**Describe the bug**

After the fixes in https://github.com/mintapi/mintapi/pull/552, running headless locally on macOS led to `urllib3.exceptions.ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))` after signin.

What version of MintAPI are you using?

Local checkout of https://github.com/mintapi/mintapi/pull/552

What command[s] did you ru

[2022-10-17 03:06] matt199x opened #554 "Exception: Could not sign in to Mint."
This new error message is happening to me. It happens with or without a # in front of mfa_method='sms'
Just upgraded to 2.8.

What version of MintAPI are you using? 2.8
What command[s] did you run / steps to reproduce?:
[code]

Stacktrace/error received:

[code]

[2022-10-17 17:22] dantheman84 opened #555 "Login to Mint failed due to timeout in the Multifactor Method Loop"
**Describe the bug**
Stuck at login screen using MFA soft token and headless, trying to pull accounts.

What version of MintAPI are you using? 2.8
What command[s] did you run / steps to reproduce?

ran this from cmd line in windows 10

mintapi --headless --mfa-method soft-token --mfa-token XTokenHereX --accounts --filename "C:\Temp\Dan" --keyring myemail@email.com

Stacktrace/error received:

DevT

[2022-10-17 21:36] mrooney commented on #555
Resolved via #552

[2022-10-17 21:36] #555 closed

[2022-10-18 01:22] hmqk1995 commented on #554
same issue

[2022-10-18 01:56] apiology commented on #554
@hmqk1995 and @matt199x, could you try the fix in https://github.com/mintapi/mintapi/pull/552 ?  It has been merged, but not yet published, but you can install either off of the main branch here or from my old feature branch:

[code]

[2022-10-18 14:49] gabefortin commented on #554
@apiology the fix worked for me in getting me through the login but now when I try to get transactions I get the following error: Traceback (most recent call last):
  File "/Users/gabe.fortin/Documents/coding/budgettracker/mintapitesting.py", line 13, in <module>
    df = mint.get_transaction_data(limit=100000)
  File "/Users/gabe.fortin/Documents/coding/budgettracker/venv/lib/python3.9/site-packa

[2022-10-18 20:33] ianvanhoven commented on #554
@apiology fix worked, including account balances; not sure about "transactions" (apropos of @gabefortin post)

[2022-10-18 20:58] mrooney commented on #554
Thanks for the confirmations!

[2022-10-18 20:58] #554 closed

[2022-10-18 21:01] ddollar commented on #554
This fix is not working for me. This is what I get:

[code]

[2022-10-19 03:42] CalvinChanCan opened #556 "get_transaction_data's date filters being ignored and return all data."
**Describe the bug**
When using a date filter to get transactions between a certain date, `get_transaction_date` is returning all transactions instead of only the transactions between the specified dates.

What version of MintAPI are you using? Main `17ae070``

What command[s] did you run / steps to reproduce?

[code]

Even trying the DateFilter Option Enum generates an error.

Stacktrace/error re

[2022-10-20 14:41] ujjwalkrishna opened #558 "Not able to signin in mintapi v2.8"
Exception: Could not sign in to Mint. Current page: https://accounts.intuit.com/index.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dnav_login_dropdown%26ivid%3Ddc411d93-0b38-4df7-8606-3cc53c71d265

[2022-10-20 23:20] mrooney commented on #558
Given that this doesn't follow the bug template and there are various previous reports, I'll close this. However, if after reviewing other issues and trying the latest `main` you can still repro the issue, feel free to file an issue using the template. Thanks!

[2022-10-20 23:20] #558 closed

[2022-10-21 14:27] ddollar commented on #553
I am seeing this same error, also headless

[2022-10-21 18:45] mrooney commented on #553
Can you please try 2.9 from pypi and let me know if that resolves the issue? Thanks!

[2022-10-21 18:45] mrooney commented on #545
Can you please try 2.9 from pypi and let me know if that resolves the issue? Thanks!

[2022-10-21 18:46] mrooney commented on #547
Can you please try 2.9 from pypi and let me know if that resolves the issue? Thanks!

[2022-10-21 18:46] mrooney commented on #546
Can you please try 2.9 from pypi and let me know if that resolves the issue? Thanks!

[2022-10-21 18:47] mrooney commented on #558
I just released mintapi 2.9 to pypi, give it a shot :)

[2022-10-21 18:47] ddollar commented on #553
I will try 2.9 but I have been seeing this issue on `main`

[2022-10-21 18:51] ddollar commented on #553
@mrooney Same issue on 2.9

[code]

[2022-10-21 19:19] #547 closed

[2022-10-21 19:19] jcsacto commented on #547
tested 2.9 and has resolved my issue, thanks!

[2022-10-21 22:31] felciano commented on #545
@mrooney very frustrating. I ran it 5 times with 2.9: it succeed 2x (dumped the account info) and crashed out the other times, but with a different error:
[code]

It may be that this particular issue is fixed, but we're now running into #546 which has included this `received Inspector.detached event` message.

[2022-10-21 22:33] felciano commented on #545
Just ran it again and paid closer attention: with 2.9, it correctly logs in with the right username, password and MFA. The crash occurs after the successful log in. So given that this issue is around not being able to log in, I think 2.9 fixes this. The remaining crash is, as suggested above, #546.

[2022-10-21 22:35] felciano commented on #546
@mrooney, it is improved, but does not resolve the issue consistently: I was able to get it to work correctly (i.e. not crash) once out of 7 runs.

[2022-10-22 00:39] felciano commented on #545
Just confirmed this again so I'm closing the issue as fixed in 2.9

[2022-10-22 00:39] #545 closed

[2022-10-22 00:53] #556 closed

[2022-10-22 00:58] CalvinChanCan commented on #537
Just wanted to chip in here but there is a way to download all transactions despite the 10K limit per call.

If you have less than 10K transactions in a single year, what you could do is provide a date filter for that year and loop through each and append it an aggregated list.

For example:

[code]

[2022-10-22 12:49] apiology commented on #553
@mrooney Confirmed that 2.9 does not resolve.  This occurs post-login, and not obviously tied to CSS selectors, so that is as expected.

[2022-10-22 14:37] gabefortin commented on #546
I'm getting the same/similar issue with 2.9 now. I consistently get through the log on but it crashes on get_transaction_data (also on get_account_data). Error is below:
Traceback (most recent call last):
  File "/Users/gabe.fortin/Documents/coding/budgettracker/mintapitesting.py", line 13, in <module>
    df = mint.get_transaction_data(limit=100000)
  File "/Users/gabe.fortin/Documents/coding/bud